


<div class="container grid">
  <div class="row">
    <div class="col-md-6">
      <h3>Orders</h3>
      <p style="color: #BDBDBD">we can add description here.</p>
    </div>
    <div class="col-md-6">
      <ul>
        <li><%= image_tag("dashboard/yellowcircle.svg") %> <span>Ready to delivery</span></li>
        <li><%= image_tag("dashboard/greencircle.svg") %> <span>On the way</span></li>
        <li><%= image_tag("dashboard/redcircle.svg") %> <span> Delivered</span></li>
      </ul>
      <ul>
        <li style="font-family: Open Sans;font-style: normal;font-weight: bold;line-height: 20px;font-size: 13px;color: #828282;">Product Clearup: <span style="font-weight: 200;">50</span></li>
        <li style="font-family: Open Sans;font-style: normal;font-weight: bold;line-height: 20px;font-size: 13px;color: #828282;  margin-right: 78px">Product Snapup: <span style="font-weight: 200;">95</span> </li>
    </ul>
    </div>


  

  <table class="orders">
  
    <tr>
      <th><h5>Product Name</h5></th>
      <th><h5>Order Status</h5></th>  
      <th><h5>Order Date </h5></th>
      <th><h5>Total Price</h5></th>
      <th><h5>Client</h5></th>
    </tr>
    <tr>
      <td><%= image_tag("dashboard/hollywoodsmile.svg") %> <span class="prodname">Hollywood Smile</span>  <br><span class="prodquantity">SNAP UP &emsp; &nbsp; &nbsp; &nbsp;1X</span></td>
      <td><a><%= image_tag("dashboard/redcircle.svg") %> Order Details</a></td>
      <td><h7 >2-2-2018 3 PM</h7></td>
      <td><h7 >500 $</h7></td>
      <td><%= image_tag("dashboard/userpic.svg") %> <span class="username">Mohamed Ahmed</span><br><span style="font-style: italic; font-weight: 200;font-size: 9px;
line-height: 12px">Register: 10-2-2018</span></td>
      <td class="imgicon"><a href="" title="Archive"><%= image_tag("dashboard/archive.svg")%> </a></td>
      <td class="imgicon"><a href="" title="Cancel"><%= image_tag("dashboard/cancel.svg")%> <span class="tooltiptext"></a></td>

    </tr>
    
  </table>
</div>
</div>





