<div class="nav-cover">
</div>

<div class="cart container">
  <div class="row">
    <div class="col-sm-12 col-sm-push-1">
      <h1>CART</h1>
       
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default panel-cart"">
              <div class="panel-header" role="tab" id="headingOne">
                <h4 class="panel-title title-panel">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="clearfix">
                      <span class="cart-arrow pull-left">
                       <h3 class="cart-title pull-right pull-right-text">1. Please Add Your Address</h3>           
                          <%= image_tag('True.svg') %>
                      </span>
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="cart-adress">
                    <div data-toggle="modal" data-target="#exampleModal" class="address-right">
                      <a><%= image_tag('add-your-adress .svg') %></a>
                    </div>
                    <div data-toggle="modal" data-target="#exampleModal" class="address-left">
                      <a ><%= image_tag('add-your-adress .svg') %></a>
                    </div>

                      <div class="cart-form">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close cart-close-form" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Add Your  New Address</h4>
                              </div>
                              <div class="modal-body">
                                <form>                                
                                  <div class="form-group">
                                    <label for="message-text" class="control-label">First Name</label>
                                     <%= image_tag('name-image.svg', class: "name-image1") %>
                                     <input type="text" class="form-control" id="recipient-name">
                                    
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="control-label">Last Name</label>
                                    <%= image_tag('name-image.svg', class: "name-image2") %>
                                    <input type="text" class="form-control" id="recipient-name">
                                     
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="control-label">Country</label>
                                    <div class="dropdown cart-country-dropdown">
                                    <button class="btn btn-default dropdown-toggle country-drop-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        
                                    <span class="caret cart-drop-icon"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                       
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="control-label">Zip Code</label>
                                     <input type="text" class="form-control" id="recipient-name">
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="control-label">City</label>
                                     <input type="text" class="form-control" id="recipient-name">
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="control-label">Additional Information</label>
                                    <%= image_tag('location.svg', class: "additional-location") %>
                                     <input type="text" class="form-control additional-height" id="recipient-name">
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="control-label">Phone Number</label>
                                     <input type="text" class="form-control" id="recipient-name">
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary cart-sending-message">Send message</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
              </div>
            </div>

            <div class="panel panel-default panel-cart"">
              <div class="panel-header" role="tab" id="headingTwo">
                <h4 class="panel-title title-panel">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="clearfix">
          <span class="cart-arrow pull-left">
           <h3 class="cart-title pull-right pull-right-text">2. ORDER SUMMARY</h3>           
              <%= image_tag('True.svg') %>
            </span>
          </div>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  
              <div class="cart-adress">
              <div class="panel-body">
                <table class="table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Subtotal</th>
                  </tr>
                </thead> 
                <tbody>
                  <% session[:cart].each do |ci| %>
                  <tr class="cart-item">
                    <td class="img"><%= image_tag("products/#{ci['style']}.png")%></td>
                    <td>
                      <strong>The <%= ci['style'].titleize %> Smile</strong><br>
                      <%= Style.find_by(name: ci['style']).tagline %>
                    </td>
                    <td><%= ci['quantity'].to_i %></td>
                    <td><%= number_to_currency(Product.find_by(name: ci['product']).product_prices.find_by(:currency => user.currency).price / 100) %> </td>
                    <td><%= number_to_currency(Product.find_by(name: ci['product']).product_prices.find_by(:currency => user.currency).price / 100 * ci['quantity'].to_i) %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>

              </div>
            </div>

                </div>
              </div>
            </div>
            <div class="panel panel-default panel-cart">
              <div class="panel-header" role="tab" id="headingThree">
                <h4 class="panel-title  title-panel">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="clearfix">
                      <span class="cart-arrow pull-left">
                        <h3 class="cart-title pull-right pull-right-text">3. PAYMENT METHOD</h3>           
                        <%= image_tag('True.svg') %>
                      </span>
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  
                    <div class="cart-adress">
              
            <div class="col-md-8 col-xs-12 col-sm-push-2 payment-items">
            <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left" style="margin-bottom: 1em">
              <div class="cell choose-product" style="height: 100px">
              <div class="col-md-4 col-sm-4" style="margin: 0">
              <label class="container">Paypal
              <input type="radio" name="pay-method" value="paypal">
              <span class="checkmark"></span>
              </label>
              </div>
              <div class="col-md-8 col-sm-8 product-text">
              <div class="choose-heading"><%= image_tag('paypal.svg') %></div>
              </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left" style="margin-bottom: 1em">
              <div class="cell choose-product" style="height: 100px">
              <div class="col-md-4 col-sm-4" style="margin: 0">
              <label class="container">Bank transfer
              <input type="radio" name="pay-method" value="bank-transfer">
              <span class="checkmark"></span>
              </label>
              </div>
              <div class="col-md-8 col-sm-8 product-text">
              <div class="choose-heading"><%= image_tag('sofort.svg') %></div>
              </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left" style="margin-bottom: 1em">
              <div class="cell choose-product" style="height: 100px">
              <div class="col-md-4 col-sm-4" style="margin: 0">
              <label class="container">Credit card
              <input class="show-credit-box" type="radio" name="pay-method" value="credit-cart">
              <span class=""></span>
              </label>
              </div>
              <div class="col-md-8 col-sm-8 product-text">
              <div class="choose-heading"><%= image_tag('visaandmaster.svg') %></div>
              </div>
              </div>
            </div>

              <div class="cridet-card-item">
                    <!-- You can make it whatever width you want. I'm making it full width
                    on <= small devices and 4/12 page width on >= medium devices -->
                    <div class="col-xs-12 col-md-12">


                    <!-- CREDIT CARD FORM STARTS HERE -->
                    <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                    <h3 class="panel-title display-td" >Payment Details</h3>
                    <div class="display-td" >                            
                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                    </div>
                    </div>                    
                    </div>
                    <div class="panel-body">
                    <%= form_tag products_checkout_path do %>
                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                        <label class="amount">
                          <!-- <span>Amount: <% number_to_currency(@total_cost)%></span> -->
                        </label>
                      </article>

                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="SmileUp Payment"
                              data-amount= <% @total_cost %>
                              data-locale="auto"></script>
                    <% end %>                    
                    </div>
                    </div>            
                    <!-- CREDIT CARD FORM ENDS HERE -->
                    </div>            
                    </div>

            </div>

            </div>

                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
  <!-- payment form -->
    




  <!-- If you're using Stripe for payments -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  


</div>
