<footer>
  <div class="container">
    <div class="clearfix">
      <div class="pull-left">
        <ul class="footer-links">
          <li role="presentation"><a href="/faq" title=""><%= t 'main_page.faq' %></a></li>
          <li role="presentation"><a href="/terms-and-conditions" title=""><%= t 'main_page.terms' %></a></li>
          <li role="presentation"><a href="/privacy" title=""><%= t 'main_page.privacy' %></a></li>
          <li role="presentation"><a href="/legal-statement" title=""> <%= t 'main_page.legal_statement' %> </a></li>
          <li role="presentation" class="green underline"><a href="/distributors" title=""><%= t 'main_page.join' %></a>
          </li>
        </ul>
      </div>
      <div class="pull-right pullin-ipad-left">
        <ul class="nav nav-pills">
          <li role="presentation" style="padding-top: 10px"><%= t 'main_page.follow' %></li>
          <li role="presentation"><a href="https://www.facebook.com/smilemeup/" target="_blank"><%= image_tag('facebook.svg') %></a></li>
          <li role="presentation"><a href="https://www.youtube.com/channel/UCjNJ04YQXCfoH_4FsauOEmw"target="_blank"><%= image_tag('youtube.svg') %></a></li>
          <li role="presentation"><a href="https://www.instagram.com/smilemeuponline/"target="_blank"><%= image_tag('instagram.svg') %></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
        <span class="settings"><%= t 'main_page.language_label' %>
          <!--<a class="btn btn-default" href="#" role="button">EN</a>-->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t 'main_page.language' %>
            </button>
            <div class="dropdown-menu footer-drop" aria-labelledby="dropdownMenuButton">
              <li class="dropdown-item">
                <%= link_to t("lang.english"), params.to_unsafe_hash.merge(:lang => "en"), class: "dropdown-item", style: 'display: block' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t("lang.germany"), params.to_unsafe_hash.merge(:lang => "de"), class: "dropdown-item", style: 'display: block' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t("lang.spanish"), params.to_unsafe_hash.merge(:lang => "es"), class: "dropdown-item", style: 'display: block' %>
              </li>
            </div>
          </div>
        </span>
      <span class="settings"><%= t 'main_page.currency_label' %>
        <!--<a class="btn btn-default" href="#" role="button">USD</a>-->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t 'main_page.currency' %>
            </button>
            <div class="dropdown-menu footer-drop" aria-labelledby="dropdownMenuButton">
              <li class="dropdown-item">
                <%= link_to t("currency.usd"), params.to_unsafe_hash.merge(:currency => "usd"), class: "dropdown-item", style: 'display: block' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t("currency.gbp"), params.to_unsafe_hash.merge(:currency => "gbp"), class: "dropdown-item", style: 'display: block' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t("currency.euro"), params.to_unsafe_hash.merge(:currency => "euro"), class: "dropdown-item", style: 'display: block' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t("currency.aud"), params.to_unsafe_hash.merge(:currency => "aud"), class: "dropdown-item", style: 'display: block' %>
              </li>

            </div>
          </div>
        </span>
      <span class="settings"><%= t 'main_page.country_label' %>
        <!--<a class="btn btn-default" href="#" role="button">UK</a>-->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t 'main_page.country' %>
            </button>
            <div class="dropdown-menu footer-drop" aria-labelledby="dropdownMenuButton">
              <li class="dropdown-item">
              <%= link_to t("country.uk"), params.to_unsafe_hash.merge(:country => "uk"), class: "dropdown-item", style: 'display: block' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t("country.Germany"), params.to_unsafe_hash.merge(:country => "Germany"), class: "dropdown-item", style: 'display: block' %>
              </li>
              <li class="dropdown-item">
                <%= link_to t("country.Australia"), params.to_unsafe_hash.merge(:country => "Australia"), class: "dropdown-item", style: 'display: block' %>
              </li>
            </div>
          </div>
        </span>
      <p>
        <%= image_tag('paypal.svg', class: "footer-money") %>
        <%= image_tag('sofort.svg', class: "footer-money") %>
        <%= image_tag('banktransfer.svg', class: "footer-money") %>
        <%= image_tag('mastercard.svg', class: "footer-money") %>
        <%= image_tag('visa.svg', class: "footer-money") %>
        <%= image_tag('stripe.svg', class: "footer-money") %>
      </p>
      <p>&copy; All rights reserved to Smile Me Up 2018&trade;</p>
    </div>
  </div>
  
  <div class="hiddenss active_conversation <%= current_user.present? ? 'show' : 'hide' %>">
    <% conversation = Conversation.mine(current_user).first %>
    <div class="conversation_header" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <%= conversation.presence.try do |conv|
        conv.target.name
      end || t('main_page.new_conversation') %>
    </div>
    <div class="messages_container collapse" id="collapseExample">
      <% if conversation %>
        <% conversation.messages.map do |message| %>

          <div class="<%= "#{message.creator == current_user ? 'right-side' : 'left-side'}" %>">
        
              <span class="creator_name">
                 <%= message.creator.name %>
              </span>
            <%= message.body %>
          </div>
        <% end %>
      <% end %>
      <%= form_for(build_conversation(conversation)) do |f| %>
        <p class="target_name"> <%# f.object.target.try(:name) %> </p>
        <div class="hidden <%# f.object.id ? 'hidden' : '' %>">
          <%= f.collection_select(:target_id, User.all, :id, :name) %>
        </div>
        <%= f.fields_for :messages do |m| %>
          <div class="<%= m.object.id ? 'hidden' : '' %>">
            <%= m.text_field :body %>
          </div>
        <% end %>
        <div class="hidden dd">

          <%= f.submit :send %>
        </div>
        <button class="sending-chat-message btn-green">Send</button>
      <% end %>
    </div>
  </div>

  <div class="footer-close" , id="footer-close">
    <%= image_tag('footer-close.svg') %>
  </div>
  <div id="call_us_anim" class='footer-call' style="z-index: 80">
  </div>
  <div class="footer-call" id="footer-call">
    <a href="tel:+49015258197119" title="">
      <%= image_tag('footer-call.svg') %>
    </a>
  </div>
  <div class="footer-whatsapp" id="footer-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=49021143632174" target="_blank">
      <%= image_tag('footer-whatsapp.svg') %>
    </a>
  </div>
  <div class="footer-chat" id="footer-chat">
    <div>
      <%= image_tag('footer-chat.svg' , class: "chatting" ) %>
    </div>
  </div>

  <div class="scroll-up" id="scroll-up">
    <%= image_tag('scroll-up2.svg') %>
  </div>
</footer>

