<footer>
  <div class="container">
    <div class="clearfix">
      <div class="pull-left">
        <ul class="footer-links">
          <li role="presentation"><a href="/faq" title="">FAQ</a></li>
          <li role="presentation"><a href="/terms-and-conditions" title="">Terms and Conditions</a></li>
          <li role="presentation"><a href="/privacy" title="">Privacy Statement</a></li>
          <li role="presentation"><a href="/legal-statement" title="">Legal Notice</a></li>
          <li role="presentation" class="green underline"><a href="/distributors" title="">Join as a Distributor</a></li>
        </ul>
      </div>
      <div class="pull-right">
        <ul class="nav nav-pills">
          <li role="presentation" style ="padding-top: 10px">Follow us</li>
          <li role="presentation"><%= image_tag('facebook.svg') %></li>
          <li role="presentation"><%= image_tag('youtube.svg') %></li>
          <li role="presentation"><%= image_tag('instagram.svg') %></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>
        <span class="settings">Choose your language <a class="btn btn-default" href="#" role="button">EN</a></span>
        <span class="settings">Choose your currency <a class="btn btn-default" href="#" role="button">USD</a></span>
        <span class="settings">Choose Your Country<a class="btn btn-default" href="#" role="button">UK</a></span>
      </p>
      <p>
        <%= image_tag('paypal.svg', class: "footer-money") %>
        <%= image_tag('sofort.svg', class: "footer-money") %>
        <%= image_tag('banktransfer.svg', class: "footer-money") %>
        <%= image_tag('mastercard.svg', class: "footer-money") %>
        <%= image_tag('visa.svg', class: "footer-money") %>
        <%= image_tag('stripe.svg', class: "footer-money") %>
      </p>
      <p>&copy; All rights reserved to Smile Me Up 2018&trade;</span></p>
    </div>
  </div>
  <div class="footer-close", id="footer-close">
    <%= image_tag('footer-close.svg') %>
  </div>
  <div class="footer-call" id="footer-call">
    <a href="tel:+49015258197119" title=""><%= image_tag('footer-call.svg') %></a>
  </div>
  <div class="footer-whatsapp" id="footer-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=49021143632174" target="_blank"><%= image_tag('footer-whatsapp.svg') %></a>
  </div>
  <div class="footer-chat" id="footer-chat">
    <%= image_tag('footer-chat.svg') %>
  </div>
  <div class="scroll-up" id="scroll-up">
    <%= image_tag('scroll-up2.svg') %>
  </div>
</footer>

