<div class="about container text-center">
  <div class="about-share">
    <h3><%= t 'main_page.share_your_smile'%></h3>
    <h2><strong><%= t 'main_page.use'%></strong> <strong class="green">#welcomenewsmile</strong></h2>
    <div class="row">
      <div class="col-sm-4 col-sm-push-1">
        <%= image_tag('share/01.png') %>
      </div>
      <div class="col-sm-4 col-sm-push-1">
        <div class="row">
          <div class="col-sm-12">
            <%= image_tag('share/02.png') %>
          </div>
          <div class="col-sm-6 col-xs-col-12">
            <%= image_tag('share/03.png') %>
          </div>
          <div class="col-sm-6 col-xs-col-12">
            <%= image_tag('share/04.png') %>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-sm-push-1">
        <div class="row">
          <div class="col-sm-12 col-sx-6">
            <%= image_tag('share/05.png') %>
          </div>
          <div class="col-sm-12 col-sx-6">
            <%= image_tag('share/06.png') %>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-push-1">
        <div class="row">
          <div class="col-sm-12">
            <%= image_tag('share/07.png') %>
          </div>
          <div class="col-sm-6 col-xs-col-12">
            <%= image_tag('share/08.png') %>
          </div>
          <div class="col-sm-6 col-xs-col-12">
            <%= image_tag('share/09.png') %>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-sm-push-1">
        <div class="row">
          <div class="col-sm-12">
            <%= image_tag('share/10.png') %>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-push-1">
        <%= image_tag('share/11.png') %>
      </div>
    </div>
  </div>
</div>