<div class="about container text-center">
  <h3> <%= t 'main_page.happy_customers'%> <strong class="green"><%= t 'main_page.say'%></strong></h3>
</div>
<br>
<br>
<div class="swipper-hand text-center">
  <%= image_tag('swipper-hand.svg') %>
  <div id="hand_2_anim" style="height: 0px; width: 8px; margin: 0px auto;">
  </div>
  <p class="green"> <%= t 'main_page.slide'%> </p>
</div>

<div class="azab-slider">
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper " style="margin-top: 50px;margin-left: -150px">     
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p1.jpg', class: 'profilePic') %><span>MORENO RIZZUTO </span>&nbsp;<span>12/20/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Liebes Smile Me Up Team Bald kommen die Festtage, Weihnachten, Jahreswechsel, und ich möchte Ihnen bei dieser Gelegenheit einmal ganz ausdrücklich und sehr herzlich für Ihre freundliche und sehr korrekte Art sowie für Ihre sehr kompetente, präzise und zuverlässige Arbeit danken! Ihr habt einen sehr guten Service. Die Lieferung ist komplett, schnell und sicher angekommen. BRAVO ! Macht weiter so. Liebe Grüsse aus der Schweiz Moreno Rizzuto"
        </p>
      </div>
      <div class="swiper-slide rowTwo">
        <%= image_tag('slider/avatar.png', class: 'profilePic') %><span>Noha Mahmoud</span>&nbsp;<br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "I had a major fear problem from Dental visits so when I found out about Smile Me Up I was overwhelmed that I can straighten my teeth from home, I was kinda afraid of taking my teeth impressions at home but it turned out to be a piece of cake and I enjoyed this new experience. I had a 4 months treatment and my aligners were fit perfectly. Now I only have 2 months remaining to finish my treatment and until now I am super satisfied. The customer service is really friendly"
        </p>
      </div>
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p3.jpg', class: 'profilePic') %><span>MYRA AMARA</span>&nbsp;<span>12/01/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Super Service. Angeschrieben mit Fotos, Bewertung zu gesendet bekommen, Abdruck versendet - 3D Video erhalten und Produktion in Auftrag gegeben. Freue mich unheimlich auf die Veränderung. In 2 Wochen habe ich dann endlich die Schienen"
        </p>
      </div>
      <div class="swiper-slide rowTwo">
        <%= image_tag('slider/avatar.png', class: 'profilePic') %><span> Mateusz Dobrołowicz</span>&nbsp;<br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Danke Smile Me Up!"
        </p>
      </div>
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p5.jpg', class: 'profilePic') %><span>NICI SMOOTH</span>&nbsp;<span>11/09/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Danke Smile me up!!! Ich muss mich bei Euch bedanken. Danke für die kompetente Beratung ohne erst von Arzt zu Arzt zu rennen. Ich hätte im Traum nicht mehr daran gedacht, meine Zahnfehlstellung begleichen zu können. Danke, an dieses tolle Produkt. Ich bin von den Clear Up Schienen begeistert. Meine Behandlung läuft schon etwas und ich sehe Fortschritte, ich freue mich so auf das Endresultat. Ich kann nur sagen 1A Unternehmen, ich würde es jedem weiter empfehlen."
        </p>
      </div>
      <div class="swiper-slide rowTwo">
        <%= image_tag('slider/avatar.png', class: 'profilePic') %><span>Ilka P.</span>&nbsp;<br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Schnelle Lieferung."
        </p>
      </div>
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p7.jpg', class: 'profilePic') %><span>SARAH IMOLA</span>&nbsp;<span>10/19/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Ich bin rundum zufrieden! Hervorragender Service und tolles Produkt. Das Team ist sehr kompetent, habe mich sehr gut beraten gefühlt. Die Beispiel-Resultate auf der Webseite sind besonders klasse, vielen Dank!"
        </p>
      </div>
      <div class="swiper-slide rowTwo">
        <%= image_tag('slider/avatar.png', class: 'profilePic') %><span>Aileen</span>&nbsp<br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Ich habe mich für das Snap Up Produkt für den Ober und Unterkiefer entschieden gehabt und beide sitzen wunderbar passgenau. Man sieht nicht, dass es sich nicht um die eigenen Zähne handelt und ich habe bereits erste Komplimente von fremden Menschen bekommen. Selbst Freunden ist zwar eine Veränderung aufgefallen, nicht aber, dass es an den Zähnen liegt. Heißt also, die Snap Ups sind so gut verarbeitet, dass man nicht sieht, dass es sich um "künstliche Zähne" handelt. Ich bin total begeistert und trage meine mit Stolz und breitem Lächeln. Vielen Dank"
        </p>
      </div>
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p9.jpg', class: 'profilePic') %><span>MATEUSZ DOBROŁOWICZ</span>&nbsp;<span>9/28/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "1A Service, tolles Team und ein sehr zufriedener Kunde! Danke Smile Me Up"
        </p>
      </div>
      <div class="swiper-slide rowTwo">
        <%= image_tag('slider/avatar.png', class: 'profilePic') %><span>Moreno Rizzuto</span>&nbsp;<br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Bald kommen die Festtage, Weihnachten, Jahreswechsel, und ich möchte Ihnen bei dieser Gelegenheit einmal ganz ausdrücklich und sehr herzlich für Ihre freundliche und sehr korrekte Art sowie für Ihre sehr kompetente, präzise und zuverlässige Arbeit danken! Ihr habt einen sehr guten Service. Die Lieferung ist komplett, schnell und sicher angekommen. BRAVO ! Macht weiter so. Liebe Grüsse aus der Schweiz Moreno Rizzuto"
        </p>
      </div>
    </div>
  </div>
  <!-- END SWIPER -->

  <!-- Add Pagination -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p2.jpg', class: 'profilePic') %><span>KARIN WURM</span>&nbsp;<span>12/17/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Von Anfang an ein toller Kundenservice! Da könnten sich manche Firmen eine Scheibe abschneiden. Das Abdruckset kam schon wenige Tage nach meiner Bestellung an, die Schienen dauerten auch nur 2,5 Wochen! Man kann Smile me up wirklich JEDERZEIT kontaktieren wenn man Fragen hat oder Hilfe braucht. Nach wenigen Minuten bekommt man schon eine Rückmeldung, sie sind wirklich sehr bemüht! So ein Unternehmen findet man wirklich selten! Preis/Leistung TOP!   Kann es nur jedem weiterempfehlen!  "
        </p>
      </div>
      <div class="swiper-slide rowTwo">
        <%= image_tag('slider/avatar.png', class: 'profilePic') %><span>JM</span>&nbsp;<br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Bisher super Erfahrung! Bestellvorgang easy, Lieferung pünktlich, Paket schön verpackt und mit extra Geschenkchen...Jetzt sollte dem perfekten Lächeln nichts mehr im Wege stehen. Den letzten Stern gibts dann danach!"
        </p>
      </div>
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p4.jpg', class: 'profilePic') %><span>JOEL BZ</span>&nbsp;<span>11/28/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Top Betreuung, sehr zufrieden! Kann jedem wärmstens empfehlen!"
        </p>
      </div>
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p6.jpg', class: 'profilePic') %><span>AILEEN WAUER</span>&nbsp;<span>10/23/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Ein Unternehmen, bei dem Kundenservice auf jeden Fall noch sehr groß geschrieben wird. Ich habe eine umfassende Beratung erhalten, meine Fragen wurden bisher kompetent und hilfreich beantwortet und das Handling der Produkte ist ziemlich easy. Was meiner Meinung nach für die Firma spricht, ist das kundenorientierte Arbeiten und es wird vorher entschieden, ob die Produkte für einen selbst überhaupt tauglich sind oder nicht, bevor man also bezahlt und bleibt so nicht auf Kosten sitzen. Da mir meine ersten Abdrücke nicht perfekt gelungen sind, habe ich sogar ein zweites kostenloses Set erhalten. PRIMA! Selbst meine Zahnärztin ist nun neugierig geworden und konnte dem Produkt nichts negatives anlasten, was wohl sehr für das Snap Up Produkt sprechen dürfte. Ich bin auf jeden Fall sehr zufrieden und kann es wärmstens weiterempfehlen Danke an @SmilemeUp für Kompetenz, Zuverlässigkeit und die individuelle Beratung."
        </p>
      </div>
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p8.jpg', class: 'profilePic') %><span>TINA RASSBACH</span>&nbsp;<span>10/19/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "wurden alle meine Fragen schnell beantwortet, bin mit dem Ergebnis mehr als zufrieden und trau mich endlich wieder zu lachen."
        </p>
      </div>
      <div class="swiper-slide rowOne">
        <%= image_tag('slider/p10.jpg', class: 'profilePic') %><span>JULIA MESTER</span>&nbsp;<span>9/28/2017</span><br><%= image_tag('slider/stars.png', class: 'star') %>
        <p>
          "Danke Smile Me Up! Von der Bestellung bis zur Lieferung lief alles super! Bilder eingesandt, Feedback schnell erhalten und umgehend nach der Bezahlung kam direkt das Abdruckset. Total einfache Anwendung! Nach der Rücksendung kam innerhalb weniger Tage meine Videosimulation. Zu sehen wie alles einmal aussehen wird steigert enorm die Vorfreude 🙂 Meine Schienen kamen kurze Zeit danach, mit schöner Box, umfassenden Informationen und sogar einem kleinen Geschenkchen! Die Schienen lassen sich einfach einsetzen, drücken nicht und sind wirklich kaum sichtbar 🙂 Ich bin gespannt auf die ersten Ergebnisse!!!"
        </p>
      </div>
    </div>
  </div>
</div>
<div class="swipper-hand text-center">
  <%= image_tag('swipper-hand.svg') %>
  <div id="hand_1_anim" style="height: 0px; width: 0px; margin: 0px auto;">
  </div>
  <p class="green"> <%= t 'main_page.slide'%> </p>
</div>

