<div class="nav-cover">
</div>

<div class="account container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link show active" href="/users/edit"><%= t 'profile.tabs.profile' %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="/my_orders" role="tab" aria-controls="profile" aria-selected="false"><%= t 'profile.tabs.orders' %> </a>
    </li>
    <li class="nav-item">
    </li>
  </ul>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">orders</div>
  <div class="tab-pane show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="orders">


    </div>
  </div>

  <!--start our Orders -->
  <div class="our-time-line">
    <div class="container">


      <div class="time-line-shadow">
        <h1 class=""></h1>
        <% @orders.each_with_index do |product, index| %>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-lg-6 col-sm-12 media-order">
                <div class="col-lg-2 col-sm-12">
                  <div class="order-number">
                    <h2># <%= index + 1%></h2>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <div class="our-order-image">

                    <%= image_tag('Hollywood-oder.svg', class: "Hollywood-oder") %>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="order-content">
                    <h2><%= t "#{product.style.try(:name)}" %></h2>
                    <p>(<%= t "#{product.style.try(:tagline)}" %>)</p>
                    <p><%= t 'products.quantity' %>: <%= product.quantity %></p>
                    <p><%= t 'products.placed_on' %>: <%= product.created_at.to_date.strftime %></p>
                    <p><%= t 'products.order_id' %> : # <%= product.order_detail_id%></p>
                  </div>
                </div>
              </div>

              <div class="col-lg-5 col-sm-12">
                <div class="col-sm-12 timeline-grid">
                  <nav class="timeline-order">
                    <ol>
                      <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                      </ul>
                    </ol>
                  </nav>
                </div>

                <div class="col-sm-12 cal-total">
                  <div class="our-calc">
                    <p><%= t 'products.subtotal'%>: <span><%= product.price(@currency) %> <%= t "currency.#{@currency}"%></span></p>
                    <hr>
                    <p><%= t 'products.subtotal'%>: <span>900 <%= t "currency.#{@currency}"%></span></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-1 hidden-md hidden-sm hidden-xs image-hidden-pus">
                <div class="image-pus">
                  <%= image_tag('Polygon-pus.svg', class: "Polygon-pus") %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <!--End our Orders -->

</div>

