<div class="about-jumbotron jumbotron">
  <div class="container">
    <div class="slogan solgan-about">
      <div class="row">
        <div class="col-sm-3">
          <h1 class="slogan-title aligns-about">
            <span class="aligns-span"><%= t 'about.about' %></span><br><strong><span><%= t 'about.title' %></span></strong>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about container">
  <div class="text-center">
    <h3 class="about-title"><%= t 'about.title' %></h3>
    <div class="row">
      <div class="col-sm-8 col-sm-push-2 about-bg">
        <p class="about-des">
          <%= t 'about.desc1' %>
          <br> <%= t 'about.desc2' %>
          <br><%= t 'about.desc3' %>
          <br><%= t 'about.desc4' %>
          <br><%= t 'about.desc5' %>
          <br><%= t 'about.desc6' %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/testimonials' %>
<%= render 'shared/share' %>