<div class="product-clearup jumbotron">
  <div class="container text-center">
    <div class="clearup-page">
      <h1 class="clearup-title">CLEAR UP <br><strong><%= t 'products.product_overview' %></strong></h1>
      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          <p>
            <%= t 'products.clear_up.full_desc' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center">
    <h3><%= t 'products.what_is' %> <strong class="green">CLEAR UP?</strong></h3>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <p class="text-center">
          <%= t 'products.clear_up.what_desc' %>

        </p>
      </div>
    </div>
  </div>
  <div class="row home-why text-center">
    <div class="col-sm-4">
      <div class="home-why-item shadow">
        <%= image_tag('snapup-1.svg') %>
        <h3><%= t('products.clear_up.title1').html_safe %> </h3>
        <p>
          <%= t 'products.clear_up.desc1' %>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-why-item shadow">
        <%= image_tag('snapup-2.svg') %>

        <h3><%= t('products.clear_up.title2').html_safe %> </h3>
        <p>
          <%= t 'products.clear_up.desc2' %>
          <br>&nbsp;<br>&nbsp;
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-why-item shadow">
        <%= image_tag('snapup-3.svg') %>

        <h3><strong><%= t 'products.clear_up.title3' %> </strong></h3>
        <p>
          <%= t 'products.clear_up.desc3' %>

          <br>&nbsp;
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center">
    <a class="btn btn-default btn-lg btn-green" href="/products/clearup/clearup_impression" role="button">
      <%= t 'products.clear_up.start_now' %>
    </a>
  </div>
</div>

<!-- start Our Video style -->
<div class="video-section">
  <div class="home container">
    <div class="text-center over-new-smile">
      <h3><%= t('products.snap_up.testimonials').html_safe%></h3>
      <p class="text-midium"></p>
    </div>

    <div class="row home-why text-center">
      <div class="col-sm-8 col-xs-12">
        <div class="main-video">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/86ORj1uJK68?&loop=1&playlist=86ORj1uJK68"
                    frameborder="0" encrypted-media="allowfullscreen">
            </iframe>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 scroll-extra-video">
        <div class="col-sm-12 col-xs-12">
          <div class="side-videos">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/YvQBLObVO1o?loop=1" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12">
          <div class="side-videos">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/NcpyKLkCQ6o?loop=1" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12">
          <div class="side-videos">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/7W00cNx-56w?loop=1" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
       
        <div class="col-sm-12 col-xs-12">
          <div class="side-videos">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/uyZjdzStO-o" frameborder="0" allowfullscreen=""></iframe>

            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="side-videos">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/PiI_NKniECE" frameborder="0" allowfullscreen=""></iframe>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!--End  Our Video style-->

<!--start after and before-->


<div class="home container text-center">
  <h3 class="green"><strong><%= t 'products.inspiration'%></strong></h3>

  <p> <%= t 'products.inspiration_desc'%></p>
</div>


<div class="container">
  <div class="container-a-b text-center">

    <div class="comparison01 shadow">
      <figure>
          <%= image_tag('Clearup02.jpg') %>
        <div id="divisor">
          <%= image_tag('Clearup01.jpg') %>
        </div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider" oninput="moveDivisor1()">
    </div>

    <div class="comparison01">
      <figure>         
          <%= image_tag('Clearup04.jpg') %>
        <div id="divisor1">
          <%= image_tag('Clearup03.jpg') %>
        </div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider1" oninput="moveDivisor2()">
    </div>


    <div class="comparison01">
      <figure>
          <%= image_tag('Clearup05.jpg') %>
        <div id="divisor2">
          <%= image_tag('Clearup06.jpg') %>
        </div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider2" oninput="moveDivisor3()">
    </div>

    <div class="comparison01 shadow">
      <figure>
          <%= image_tag('Clearup08.jpg') %>
        <div id="divisor3">
          <%= image_tag('Clearup07.jpg') %>
        </div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider3" oninput="moveDivisor4()">
    </div>

    <div class="comparison01">
      <figure>
          <%= image_tag('Clearup10.jpg') %>
        <div id="divisor4">         
          <%= image_tag('Clearup09.jpg') %>
        </div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider4" oninput="moveDivisor5()">
    </div>


    <div class="comparison01">
      <figure>
          <%= image_tag('Clearup12.jpg') %>
        <div id="divisor5">
          <%= image_tag('Clearup11.jpg') %>
        </div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider5" oninput="moveDivisor6()">
    </div>

  </div>
</div>





<!--
<div class="home product product-ba">
  <div class="row">-->

<!-- <div class="row hide-box">
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-3.png') %>
    </div>
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-4.png') %>
    </div>
  </div>
  <div class="row hide-box">
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-3.png') %>
    </div>
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-4.png') %>
    </div>
  </div>
  
  <div class="home container text-center mile-slider">
    <button type="button" class="btn btn-lg btn-green btn-hover load-more">Load More</button>
  </div>

</div> -->

<!--
<div class="home product container">
  <div class="row eq-height">
    <div class="col-sm-3 col-sm-push-1 steps-slogan">
      <div>
        <h3>5 simple steps to get <strong style="color: #96BF3D">an awesome smile !</strong></h3>
      </div><br>
      <p>
        <a class="btn btn-default btn-lg btn-green" href="/products/clearup/clearup_impression" role="button">Order Now</a>
      </p>
    </div>
    <div class="col-sm-6 col-sm-push-2">
      <div class="row">
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Send your smile Assessment and wait for our feedback </h4>
          </div>
        </div>
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Choose your Veneers Type <br>
            <h4>Complete your personal impressions kit</h4>
          </div>
        </div>
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Your impressions will be 3d built and printed in our labs</h4>
          </div>
        </div>
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Put on your comfy aligners daily and await splendid results</h4>
          </div>
        </div>
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Receive your Clear up aligners and expect a set every couple of weeks for max refinement</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- Start Section dublcated of snap up over view -->
<div class="home product container text-center">
  <div class="row eq-height">
    <div class="col-md-3 col-xs-12 col-sm-push-1 steps-slogan steps-slogan-left">
      <div class="slogan-width">
        <h3 class=""> <%= t('products.clear_up.steps.title').html_safe%> </h3>
      </div>
      <p class="slogan-des">
        <a class="btn btn-default btn-lg btn-green" href="/products/clearup/clearup_impression" role="button">
          <%= t('products.snap_up.start_now')%>
        </a>
      </p>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-push-2">
      <div class="row">
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
              <%= image_tag('order-clearup.svg') %>
            </div>
            <div class="col-md-8 col-sm-8 product-text">
              <h4 class="choose-heading">
                <%= t('products.clear_up.steps.step1') %>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
              <%= image_tag('athome-clearup.svg') %>
            </div>
            <div class="col-md-8 col-sm-8 product-text">
              <h4 class="choose-heading">
                <%= t('products.clear_up.steps.step2') %>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
              <%= image_tag('3rdsimulation.svg') %>
            </div>
            <div class="col-md-8 col-sm-8 product-text">
              <h4 class="choose-heading">
                
                  <%= t('products.clear_up.steps.step3') %>

                
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
              <%= image_tag('alignerdel.svg') %>
            </div>
            <div class="col-sm-8 col-sm-8 product-text">
              <h4 class="choose-heading">
                  <%= t('products.clear_up.steps.step4') %>            
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
              <%= image_tag('freeret-clearup.svg') %>
            </div>
            <div class="col-sm-8 col-sm-8 product-text">
              <h4 class="choose-heading">
                  <%= t('products.clear_up.steps.step5') %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Section dublcated of snap up over view -->
<!-- 
imgs

  -->

