<!-- 27 april edit -->
 <div class="product-clearup jumbotron">
  <div class="container text-center">
    <div class="clearup-page">
      <h1 class="clearup-title">CLEAR UP <br><strong><%= t 'products.impression.shop'%></strong></h1>
      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          <p>
            <%= t 'products.impression.desc'%>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center">
    <h3><strong class="green">CLEAR UP IMPRESSION KIT </strong> <br> <%= t 'products.impression.start_journey' %> </h3>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <p class="text-midium">
          <%= t 'products.impression.journey_desc'%>
        </p>
      </div>
    </div>
  </div>


  <div class="row home-how">
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <!--<div class="home-how-number">1</div> -->
        <div class="text-center">
          <%= image_tag('impressions.svg')%>
        </div>        
        <p>
          <%= t 'products.impression.step1'%> <br><br><br><br><br> <br>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <div class="text-center">
          <%= image_tag('received.svg')%>
        </div>
        <p>
          <%= t 'products.impression.step2' %>
        </div>
    </div>
    <div class="col-sm-4">  
      <div class="home-how-item shadow min-height-shadow">
        <div class="text-center">
          <%= image_tag('vector.svg')%>
        </div>
        <p>
          <%= t 'products.impression.step3'%> <br><br><br><br><br><br><br>
          &nbsp;
        </p>
      </div>
    </div>
  </div>


  <div class="row home-how">
    <div class= "col-sm-12">
      <div class="home-how-item">
        <div class="text-center">
          <%= image_tag('impression.svg', class: "impression-kit") %>
        </div>
        <div class="text-center">
          <h3><%= t 'products.impression.title'%> </h3>
          <h5>(<%= t 'products.impression.title_desc'%>)</h5><br>
          <button type="button" class="btn btn-lg btn-green btn-hover" data-toggle="modal" data-target="#hollywoodModal"><%= t 'products.add_to_card '%></button>
        </div>                  
        </div>
      </div>      
  </div>
</div>
<div style="margin-top: -80px;">
  <%= render 'shared/share' %>
</div>  



  








  