 <div class="product-clearup jumbotron">
  <div class="container text-center">
    <div class="clearup-page">
      <h1 class="clearup-title">CLEAR UP <br><strong>Product Overview</strong></h1>
      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          <p>
            You wish to straighten your teeth or close gaps? Without traditional braces? You prefer to pay less for a high-quality treatment?
            Then you should choose our invisible, discreet aligner "Clear Up" 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center">
    <h3>What is <strong class="green">CLEAR UP?</strong></h3>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <p class="text-center">
          Custom-made invisible aligners that efficiently move teeth according to a professional digital plan.        
        </p>
      </div>
    </div>
  </div>
  <div class="row home-why text-center">
    <div class="col-sm-4">
      <div class="home-why-item shadow">
        <%= image_tag('snapup-1.svg') %>
        <h3>Simple <strong>and efficient.</strong></h3>
        <p>
          CLEAR UP aligners have never been simpler than this. CLEAR UP is extremely easy to use and can be removed anytimes while functioning as efficient as traditional braces.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-why-item shadow">
        <%= image_tag('snapup-2.svg') %>
        <h3>Appealing and <strong>CLEAR</strong></h3>
        <p>
          Aligners can now be glamorous! Our CLEAR UP is almost invisible!
          <br>&nbsp;<br>&nbsp;
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-why-item shadow">
        <%= image_tag('snapup-3.svg') %>
        <h3><strong>Affordable</strong></h3>
        <p>
          Straighten your teeth with the CLEAR UP aligners and pay 75% less than you would pay at your orthodontist.
          <br>&nbsp;
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center">
    <a class="btn btn-default btn-lg btn-green" href="/products/clearup/clearup_impression" role="button">Start now</a>
  </div>
</div>

<!-- start Our Video style -->
<div class="video-section">
  <div class="home container">
    <div class="text-center over-new-smile">
      <h3>Some of our <strong class="green"><br>testimonials</strong></h3>
          <p class="text-midium"></p>
    </div>

    <div class="row home-why text-center">
      <div class="col-sm-8 col-xs-12">
        <div class="main-video">
        <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/86ORj1uJK68?&loop=1&playlist=86ORj1uJK68" frameborder="0" encrypted-media" allowfullscreen></iframe>
      </div>  
      </div>
      </div>
       <div class="col-sm-4 col-xs-12 ">
        <div class="col-sm-12 col-xs-12">
        <div class="side-videos">
         <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/YvQBLObVO1o?loop=1" frameborder="0" allowfullscreen=""></iframe> 
        </div>
       </div>
      </div>

       <div class="col-sm-12 col-xs-12">
         <div class="side-videos">
         <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/NcpyKLkCQ6o?loop=1" frameborder="0" allowfullscreen=""></iframe>
        </div>
       </div>
      </div>

       <div class="col-sm-12 col-xs-12">
        <div class="side-videos">
         <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/7W00cNx-56w?loop=1" frameborder="0" allowfullscreen=""></iframe>
        </div>
       </div>
      </div>
      </div>
    </div>


  </div>
</div>


<!--End  Our Video style-->

<!--<div class="home container text-center">
  <h3 class="green"><strong>Inspiration</strong></h3>
  <p>Get inspired by some of our before and after pictures.</p>
</div>

<div class="home product product-ba">
  <div class="row">

    <div class="">
      <div class="splitview skewed"> 
        <div class="mover"></div>
          <div id="page">
            <div class="wrapper">
              <div class="before">
                <%= image_tag('person-6a-1.jpg') %>   
              </div>
              <div class="after">
                <%= image_tag('person-6b.jpg') %>
              </div>
              <div class="scroller">
                    <svg class="scroller_pointer" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.18 45"><defs><style>.cls-1{fill:#96bf3d;}.cls-2{fill:#b4d850;}.cls-3,.cls-5{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.cls-3{stroke-width:0.5px;}.cls-4{fill:#fff;}.cls-5{stroke-width:0.25px;}</style></defs><title>Untitled-2</title><path class="cls-1" d="M15.5,8.42V36.58A6.33,6.33,0,0,1,9.18,42.9H9a6.32,6.32,0,0,1-6.32-6.32V8.42a6.12,6.12,0,0,1,.63-2.73A6.29,6.29,0,0,1,9,2.1h.18A6.32,6.32,0,0,1,15.5,8.42Z"/><path class="cls-2" d="M13.87,40.81A6.28,6.28,0,0,1,9.18,42.9H9a6.32,6.32,0,0,1-6.32-6.32V8.42a6.12,6.12,0,0,1,.63-2.73Z"/><path class="cls-3" d="M12.3,21.8a.65.65,0,0,0-.56.32V21.9a.67.67,0,0,0-.66-.66.68.68,0,0,0-.57.32v-.15a.65.65,0,0,0-.66-.66.66.66,0,0,0-.56.31v-2a.66.66,0,0,0-1.32,0v5l-.74-1A.64.64,0,0,0,6.31,23a.66.66,0,0,0-.12.92l2.08,2.66a1.72,1.72,0,0,0,1.44.78H11a2,2,0,0,0,2-2V22.46a.67.67,0,0,0-.66-.66Zm0,0"/><rect class="cls-4" x="5.03" y="18.3" width="1.56" height="0.22"/><rect class="cls-4" x="11.07" y="18.3" width="1.56" height="0.22"/><polyline class="cls-5" points="5.49 19 4.89 18.4 5.49 17.81"/><polyline class="cls-5" points="12.19 17.81 12.78 18.4 12.19 19"/></svg>
              </div>
            </div>
          </div>
      </div>
    </div>  


    <div class="after-befor01">
      <div class="splitview skewed"> 
        <div class="mover"></div>
          <div id="page">
            <div class="wrapper">
              <div class="before">
                <%= image_tag('person-6a-1.jpg') %>   
              </div>
              <div class="after">
                <%= image_tag('person-6b.jpg') %>
              </div>
              <div class="scroller">
                    <svg class="scroller_pointer" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.18 45"><defs><style>.cls-1{fill:#96bf3d;}.cls-2{fill:#b4d850;}.cls-3,.cls-5{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.cls-3{stroke-width:0.5px;}.cls-4{fill:#fff;}.cls-5{stroke-width:0.25px;}</style></defs><title>Untitled-2</title><path class="cls-1" d="M15.5,8.42V36.58A6.33,6.33,0,0,1,9.18,42.9H9a6.32,6.32,0,0,1-6.32-6.32V8.42a6.12,6.12,0,0,1,.63-2.73A6.29,6.29,0,0,1,9,2.1h.18A6.32,6.32,0,0,1,15.5,8.42Z"/><path class="cls-2" d="M13.87,40.81A6.28,6.28,0,0,1,9.18,42.9H9a6.32,6.32,0,0,1-6.32-6.32V8.42a6.12,6.12,0,0,1,.63-2.73Z"/><path class="cls-3" d="M12.3,21.8a.65.65,0,0,0-.56.32V21.9a.67.67,0,0,0-.66-.66.68.68,0,0,0-.57.32v-.15a.65.65,0,0,0-.66-.66.66.66,0,0,0-.56.31v-2a.66.66,0,0,0-1.32,0v5l-.74-1A.64.64,0,0,0,6.31,23a.66.66,0,0,0-.12.92l2.08,2.66a1.72,1.72,0,0,0,1.44.78H11a2,2,0,0,0,2-2V22.46a.67.67,0,0,0-.66-.66Zm0,0"/><rect class="cls-4" x="5.03" y="18.3" width="1.56" height="0.22"/><rect class="cls-4" x="11.07" y="18.3" width="1.56" height="0.22"/><polyline class="cls-5" points="5.49 19 4.89 18.4 5.49 17.81"/><polyline class="cls-5" points="12.19 17.81 12.78 18.4 12.19 19"/></svg>
              </div>
            </div>
          </div>
      </div>
    </div>  


    <div class="after-befor02">
      <div class="splitview skewed"> 
        <div class="mover"></div>
          <div id="page">
            <div class="wrapper">
              <div class="before">
                <%= image_tag('person-6a-1.jpg') %>   
              </div>
              <div class="after">
                <%= image_tag('person-6b.jpg') %>
              </div>
              <div class="scroller">
                    <svg class="scroller_pointer" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.18 45"><defs><style>.cls-1{fill:#96bf3d;}.cls-2{fill:#b4d850;}.cls-3,.cls-5{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.cls-3{stroke-width:0.5px;}.cls-4{fill:#fff;}.cls-5{stroke-width:0.25px;}</style></defs><title>Untitled-2</title><path class="cls-1" d="M15.5,8.42V36.58A6.33,6.33,0,0,1,9.18,42.9H9a6.32,6.32,0,0,1-6.32-6.32V8.42a6.12,6.12,0,0,1,.63-2.73A6.29,6.29,0,0,1,9,2.1h.18A6.32,6.32,0,0,1,15.5,8.42Z"/><path class="cls-2" d="M13.87,40.81A6.28,6.28,0,0,1,9.18,42.9H9a6.32,6.32,0,0,1-6.32-6.32V8.42a6.12,6.12,0,0,1,.63-2.73Z"/><path class="cls-3" d="M12.3,21.8a.65.65,0,0,0-.56.32V21.9a.67.67,0,0,0-.66-.66.68.68,0,0,0-.57.32v-.15a.65.65,0,0,0-.66-.66.66.66,0,0,0-.56.31v-2a.66.66,0,0,0-1.32,0v5l-.74-1A.64.64,0,0,0,6.31,23a.66.66,0,0,0-.12.92l2.08,2.66a1.72,1.72,0,0,0,1.44.78H11a2,2,0,0,0,2-2V22.46a.67.67,0,0,0-.66-.66Zm0,0"/><rect class="cls-4" x="5.03" y="18.3" width="1.56" height="0.22"/><rect class="cls-4" x="11.07" y="18.3" width="1.56" height="0.22"/><polyline class="cls-5" points="5.49 19 4.89 18.4 5.49 17.81"/><polyline class="cls-5" points="12.19 17.81 12.78 18.4 12.19 19"/></svg>
              </div>
            </div>
          </div>
      </div>
    </div> 

<!-- <div class="row hide-box">
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-3.png') %>
    </div>
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-4.png') %>
    </div>
  </div>
  <div class="row hide-box">
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-3.png') %>
    </div>
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-4.png') %>
    </div>
  </div>
  
  <div class="home container text-center mile-slider">
    <button type="button" class="btn btn-lg btn-green btn-hover load-more">Load More</button>
  </div>

</div> -->

<!--
<div class="home product container">
  <div class="row eq-height">
    <div class="col-sm-3 col-sm-push-1 steps-slogan">
      <div>
        <h3>5 simple steps to get <strong style="color: #96BF3D">an awesome smile !</strong></h3>
      </div><br>
      <p>
        <a class="btn btn-default btn-lg btn-green" href="/products/clearup/clearup_impression" role="button">Order Now</a>
      </p>
    </div>
    <div class="col-sm-6 col-sm-push-2">
      <div class="row">
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Send your smile Assessment and wait for our feedback </h4>
          </div>
        </div>
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Choose your Veneers Type <br>
            <h4>Complete your personal impressions kit</h4>
          </div>
        </div>
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Your impressions will be 3d built and printed in our labs</h4>
          </div>
        </div>
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Put on your comfy aligners daily and await splendid results</h4>
          </div>
        </div>
        <div class="col-sm-12 shadow product-steps-item">
          <div class="cell">
            <h4>Receive your Clear up aligners and expect a set every couple of weeks for max refinement</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- Start Section dublcated of snap up over view -->
<div class="home product container text-center">
  <div class="row eq-height">
    <div class="col-md-3 col-xs-12 col-sm-push-1 steps-slogan steps-slogan-left">
      <div class="slogan-width">
        <h3 class="">5 simple steps to get<br><span class="green"><strong>an awesome smile !</strong></span></h3>
      </div>
      <p class="slogan-des">
        <a class="btn btn-default btn-lg btn-green" href="/products/clearup/clearup_impression" role="button">Order Now</a>
      </p>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-push-2">
      <div class="row">
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('order-clearup.svg') %>
          </div>
          <div class="col-md-8 col-sm-8 product-text">
            <h4 class="choose-heading">Order your impression kit and take your impressions with our help at home.</h4>
          </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('athome-clearup.svg') %>
          </div>
          <div class="col-md-8 col-sm-8 product-text">
          <h4 class="choose-heading">Do your teeth impressions at home or at a doctor nearby.</h4>
          </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('3rdsimulation.svg') %>
            </div>
            <div class="col-md-8 col-sm-8 product-text">
            <h4 class="choose-heading">Get a professional 3d simulation, showing your treatment and final results. Should we find out that your case is too difficult for our system, we will refund you.</strong></h4>
          </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('alignerdel.svg') %>
          </div>
          <div class="col-sm-8 col-sm-8 product-text">
            <h4 class="choose-heading">You will receive your aligner set within 2-3 weeks.</strong></h4>
          </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('freeret-clearup.svg') %>
          </div>
          <div class="col-sm-8 col-sm-8 product-text">
            <h4 class="choose-heading">After you finish wearing all your aligners you will get a free retainer, which you should wear at least 6-12 months to keep your amazing smile.</strong></h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Section dublcated of snap up over view -->
<!-- 
imgs

  -->

