 <!--27 april edit -->
 <div class="product-clearup jumbotron">
  <div class="container text-center">
    <div class="clearup-page">
      <h1 class="clearup-title">CLEAR UP <br><strong><%= t 'products.impression.shop' %></strong></h1>
      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          <p>
            <%= t 'products.clear_up.desc' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center">
    <h3><strong style="color: #96bf3d">CLEAR UP</strong> <br> <%= t 'products.impression.start_journey' %></h3>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <p class="text-midium">
          <%= t 'products.impression.journey_desc' %>
        </p>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="home container">
      <div class="row home-how">
        <div class="center-div">
          <div class="home-how-item shadow min-height-shadow">
            <!--<div class="home-how-number">1</div> -->
            <div class="text-center">
              <%= image_tag('clearupshop.svg')%>
            </div>        
            <p>
              <%= t 'products.clear_up_shop.step1' %> <br><br><br><br><br>
              &nbsp;
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home container">
  <div class="row home-how">
    <div class="product-center">
      <div class="home-how-item">
        <div class="text-center">
          <%= image_tag('clearupkit.svg')%>
        </div>
        <div class="text-center">
          <h3>CLEAR UP</h3>
          <h5>( <%= t 'products.snap_up.styles.desc1'%> )</h5><br>
          <button type="button" class="btn btn-lg btn-green btn-hover" data-toggle="modal" data-target="">
            <%= t 'products.add_to_card'%>
          </button>
        </div>        
           
        </div>
    </div>
  </div>
</div>


</div>

<%= render 'shared/share' %>


  








  