<!-- 27 april edit -->
 <div class="product-clearup jumbotron">
  <div class="container text-center">
    <div class="clearup-page">
      <h1 class="clearup-title">CLEAR UP <br><strong>Shop</strong></h1>
      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          <p>
            You wish to straighten your teeth or close gaps? Without traditional braces? You prefer to pay less for a high-quality treatment?
            Then you should choose our invisible, discreet aligner "Clear Up" 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center">
    <h3><strong class="green">CLEAR UP IMPRESSION KIT </strong> <br>START YOUR JOURNEY</h3>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <p class="text-midium">
          Before purchasing the CLEAR UP aligners, you should of course get to know how we can help you - our exeprts review every case!        
        </p>
      </div>
    </div>
  </div>


  <div class="row home-how">
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <!--<div class="home-how-number">1</div> -->
        <div class="text-center">
          <%= image_tag('impressions.svg')%>
        </div>        
        <p>
          Your journey starts by ordering an impression kit and taking the impressions at home. We will provide you with material and an instruction video.<br><br><br><br><br>
          &nbsp;
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <div class="text-center">
          <%= image_tag('received.svg')%>
        </div>
        <p>
          After we have received your impressions back, our experts will analyse your case. There are some difficult displacements, which our system cannot treat. If your case is too difficult, we will return you the amount you paid. For all other cases, our experts will create a 3d simulation, which will present you, how your teeth will move during the treatment.     
        </div>
    </div>
    <div class="col-sm-4">  
      <div class="home-how-item shadow min-height-shadow">
        <div class="text-center">
          <%= image_tag('vector.svg')%>
        </div>
        <p>
          Order your home impression kit now and be the next happy smiling customer! <br><br><br><br><br><br><br>
          &nbsp;
        </p>
      </div>
    </div>
  </div>


  <div class="row home-how">
    <div class= "col-sm-12">
      <div class="home-how-item">
        <div class="text-center">
          <%= image_tag('impression.svg', class: "impression-kit") %>
        </div>
        <div class="text-center">
          <h3>IMRESSION kIT</h3>
          <h5>(The typical Hollywood smile)</h5><br>
          <button type="button" class="btn btn-lg btn-green btn-hover" data-toggle="modal" data-target="#hollywoodModal">ADD TO CART</button>
        </div>                  
        </div>
      </div>      
  </div>
</div>
<div style="margin-top: -80px;">
  <%= render 'shared/share' %>
</div>  



  








  