<div class="distributors-jumbotron jumbotron">
  <div class="container">
    <div class="slogan">
      <h1 class="slogan-title"><strong> <%= t 'distributors.title1' %></strong></h1>
      <div class="row">
        <div class="col-sm-5">
          <p>
            <%= t 'distributors.desc1' %>
            <br><%= t 'distributors.desc2' %>
            <br> <%= t 'distributors.desc3' %>
            <br><%= t 'distributors.desc4' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="distributors container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <h1>
          <%= t 'distributors.page.title1' %>
          <br> <%= t 'distributors.page.title2' %>
          <br>
          <strong class="green"><%= t 'distributors.page.title3' %></strong>
        </h1>
        <p class="text-muted">
          <%= t 'distributors.page.desc1' %>
          <br>
          <%= t 'distributors.page.desc2' %>
          <br>
          <%= t 'distributors.page.desc3' %>
          <br>
          <%= t 'distributors.page.desc4' %>
        </p>
        <h3> <%= t 'distributors.form.title1' %>  <strong class="green"> <%= t 'distributors.form.title2' %> </strong></h3>
        <form id="distributors-form">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="name"><%= t 'distributors.form.label1' %></label>
              <input name="email" type="email" class="form-control" id="email" placeholder="<%= t 'distributors.form.placeholder1' %>" value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="name"><%= t 'distributors.form.label2' %></label>
              <input name="name" type="text" class="form-control" id="name" placeholder="<%= t 'distributors.form.placeholder2' %> " value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="country"> <%= t 'distributors.form.label3' %></label>
              <input name="country" type="text" class="form-control" id="name" placeholder="<%= t 'distributors.form.placeholder3' %> " value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="interested_coutries"><%= t 'distributors.form.label4' %></label>
              <input name="name" type="text" class="form-control" id="interested_coutries" placeholder="<%= t 'distributors.form.placeholder4' %>" value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="method"><%= t 'distributors.form.label5' %></label>
              <input name="method" type="text" class="form-control" id="method" placeholder="..." value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="method"><%= t 'distributors.form.label6' %></label>
              <input name="inhabitants" type="text" class="form-control" id="inhabitants" placeholder="<%= t 'distributors.form.placeholder5' %>" value="">
            </div>

            <div class="form-group col-sm-6">
              <label for="method"><%= t 'distributors.form.label7' %></label>
              <input name="owner" type="text" class="form-control" id="owner" placeholder="<%= t 'distributors.form.placeholder6' %>" value="">
            </div>

            <div class="form-group col-sm-6">
              <label for="body"><%= t 'distributors.form.label8' %></label>
              <textarea name="learn" class="form-control" rows="8" id="learn"></textarea>
            </div>
            <div class="form-group col-sm-6">
              <label for="body"><%= t 'distributors.form.label9' %></label>
              <textarea name="vision" class="form-control" rows="8" id="vision"></textarea>
            </div>
            <div class="form-group col-sm-6">
              <label for="body"><%= t 'distributors.form.label10' %> </label>
              <textarea name="marketing_channel" class="form-control" rows="8" id="marketing_channel"></textarea>
            </div>
            <div class="form-group col-sm-6">
              <label for="body"> <%= t 'distributors.form.label11' %></label>
              <textarea name="add" class="form-control" rows="8" id="add"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-push-4">
              <button type="submit" class="btn btn-green btn-large"><%= t 'distributors.form.submit' %></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>