<!--last edit 27 april -->
<div class="faq-jumbotron jumbotron">
  <div class="container">
    <div class="slogan faq-slogan">
      <h1 class="slogan-title aligns-faq"><span class="aligns-span"><%= t 'faq.our'%> </span><br><strong><%= t 'faq.faq'%> </strong></h1>
      <div class="row">
        <div class="col-sm-4">
          <p class="faq-des-heading">
            <%= t 'faq.title1'%>
            <br>
            <%= t 'faq.title2'%>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="faq container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <h1 class="faq-find-answer">
          <%= t 'faq.subtitles.title1'%> <br>
           <strong style="color: #96bf3d; font-size: 36px"><%= t 'faq.subtitles.title2'%> </strong>
        </h1>
      </div>
    </div>
  </div>
  <div class="faq-items">
    <div class="faq-item shadow" id="faq-1">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.question1'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.answer1'%>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-2">
      <div class="clearfix">
        <h3 class="green pull-left"><%= t 'faq.question2' %>  </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.answer2'%>

      </p>
    </div>
    <div class="faq-item shadow" id="faq-3">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.question3'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.answer3'%>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-4">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.question4'%>  </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.answer4'%>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-5">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.question5'%>  </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.answer5'%>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-6">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.question6'%>  </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.answer6'%>
      </p>
    </div>
    <div>
      <h3 class="text-center"><strong>FAQ Clear Up:</strong></h3><br>
    </div>
    <div class="faq-item shadow" id="faq-7">
      <div class="clearfix">
        <h3 class="green pull-left"><%= t 'faq.clear_up.question1'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.clear_up.answer1' %>

      </p>
    </div>
    <div class="faq-item shadow" id="faq-8">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.clear_up.question2'%>  </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.clear_up.answer2' %>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-9">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.clear_up.question3'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.clear_up.answer3' %>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-10">
      <div class="clearfix">
        <h3 class="green pull-left"><%= t 'faq.clear_up.question4'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.clear_up.answer4' %>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-11">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.clear_up.question5'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.clear_up.answer5' %>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-12">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.clear_up.question6'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.clear_up.answer6' %>
      </p>
    </div>

    <div>
      <h3 class="text-center"><strong>FAQ Snap Up:</strong></h3><br>
    </div>

    <div class="faq-item shadow" id="faq-13">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.snap_up.question1'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.snap_up.answer1'%>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-14">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.snap_up.question2'%></h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.snap_up.answer2'%>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-15">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.snap_up.question3'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.snap_up.answer3'%>

      </p>
    </div>
    <div class="faq-item shadow" id="faq-16">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.snap_up.question4'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.snap_up.answer4'%>
      </p>
    </div>
    <div class="faq-item shadow" id="faq-17">
      <div class="clearfix">
        <h3 class="green pull-left"> <%= t 'faq.snap_up.question5'%> </h3>
        <span class="faq-arrow pull-right">
          <%= image_tag('faq-arrow.svg') %>
        </span>
      </div>
      <p>
        <%= t 'faq.snap_up.answer5'%>
      </p>
    </div>
  </div>
</div>