<div class="home-jumbotron jumbotron">
  <div class="container">
    <div class="slogan align-in-mobile">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="slogan-title heading"><%= t'main_page.welcome' %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p class="slogan-description"><%= t('main_page.offers').html_safe %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12 col-sm-2 header-button">
          <a class="btn btn-default btn-lg second" href="/products/clearup" role="button"><%= t 'main_page.clear_up' %></a>
        </div>
        <div class="col-sm-6 col-xs-12 col-sm-2 header-button">
          <a class="btn btn-default btn-lg" href="/products/snapup" role="button"><%= t 'main_page.snap_up' %></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center ">
    <div id="home-mouse">
      <%= image_tag('mouse.svg') %>
    </div>
  </div>
</div>

<div class="home container" id="scroll-down">
  <div class="text-center">
    <h3><%= t 'why' %> <strong style="color: #96bf3d"> <%= t 'about.title' %> ?</strong></h3>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <p class="text-midium" style="font-weight: normal; color: #BDBDBD; font-size: 17px"> <%= t 'main_page.why_desc' %> </p>
      </div>
    </div>
  </div>
  <div class="row home-why text-center">
    <div class="col-sm-3 home-why-item">
      <%# image_tag('home-1.svg') %>
      <div class="home-why-item-inner">
        <div id="doctor_anim" style="height: 180px; width: 127px;">
        </div>
      </div>

      <h4> <%= t 'main_page.smile' %> <strong><%= t 'main_page.experts' %> </strong></h4>
      <p>
        <%= t 'main_page.why_desc1' %>
      </p>
    </div>
    <div class="col-sm-3 home-why-item">
      <%# image_tag('home-2.svg') %>
      <div class="home-why-item-inner">
        <div id="rating_anim" style="height: 124px; width: 128px;">
        </div>
      </div>
      <h4><strong><%= t('main_page.credibility').html_safe %></strong></h4>
      <p>
        <%= t('main_page.why_desc2').html_safe %>
      </p>
    </div>
    <div class="col-sm-3 home-why-item">
      <%# image_tag('home-3.svg') %>
      <div class="home-why-item-inner">
        <div id="girl_anim" style="height: 186px; width: 126px;">
        </div>
      </div>
      <h4><strong><%= t('main_page.two_in_one').html_safe %> </strong></h4>
      <p>
        <%= t('main_page.why_desc3').html_safe %>
      </p>
    </div>
    <div class="col-sm-3 home-why-item">
      <div class="home-why-item-inner">
        <div id="money_anim" style="height: 112px; width: 129px ">
        </div>
      </div>
      <%# image_tag('home-4.svg') %>
      <h4> <%= t 'main_page.satisfaction' %> <strong> <%= t 'main_page.guarantee' %> </strong></h4>
      <p>
        <%= t 'main_page.why_desc4' %>
      </p>
    </div>
  </div>
</div>


<div class="home container">
  <div class="text-center">
    <h3> <%= t 'main_page.select_idea' %><strong style="color: #96bf3d"> <%= t 'main_page.smiling_solutions' %></strong>
    </h3>
  </div>
  <div class="row home-products">
    <div class="col-sm-6">
      <div class="shadow over-flow-shadow">
        <div class="row home-products-item">
          <div class="col-sm-12">
            <%= image_tag('home-product-2.png', class: "clear-snap-image") %>
          </div>
          <div class="col-sm-12">
            <a href="/products/clearup"><h1 class="green order-heading">CLEAR UP</h1></a>
            <p class="order-min-height">
              You wish to straighten your teeth or close <br>gaps? Without traditional braces? <br>You prefer to pay
              less for a high-quality <br>treatment? Then you should choose our <br>invisible, discreet aligner CLEAR UP
            </p>
            <p>
              <a class="btn btn-default btn-lg btn-green" href="/products/clearup/clearup_impression" role="button">Start
                Now</a>
            </p>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="shadow over-flow-shadow">
        <div class="row home-products-item">
          <div class="col-sm-12">
            <%= image_tag('home-product-1.png', class: "clear-snap-image") %>
          </div>
          <div class="col-sm-12">
            <a href="/products/snapup"><h1 class="green order-heading">SNAP UP</h1></a>
            <p class="order-min-height">
              Our removable instant veneers snap <br>easily on your teeth and cover missing, <br>crooked or discolored
              teeth - without any <br>adhesives or teeth modifications.<br><br>
            </p>
            <p>
              <a class="btn btn-default btn-lg btn-green" href="/products/snapup/customize" role="button">Order Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="home container">
  <div class="text-center">
    <h3><%= t 'main_page.how' %> <strong style="color: #96bf3d "><%= t 'main_page.works' %></strong></h3>
  </div>
  <div class="row home-how">
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <div class="home-how-number">1</div>
        <div class="text-center">
          <%= image_tag('home-how-1.svg') %>
        </div>
        <h4 class="green text-center"><%= t 'main_page.step_1_normal' %> <br><%= t 'main_page.step_1_bold' %></h4>
        <p>
          <%= t 'main_page.step_1_desc' %>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <div class="home-how-number">2</div>
        <div class="text-center">
          <%= image_tag('home-how-2.svg') %>
        </div>
        <h4 class="green text-center"><%= t 'main_page.step_2_normal' %> <br><%= t 'main_page.step_2_bold' %></h4>
        <p>
          <%= t 'main_page.step_2_desc' %> <br><br><br>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <div class="home-how-number">3</div>
        <div class="text-center">
          <%= image_tag('home-how-3.svg') %>
        </div>
        <h4 class="green text-center"><%= t 'main_page.step_3_normal' %><br><%= t 'main_page.step_3_bold' %></h4>
        <p>
          <%= t 'main_page.step_3_desc' %> <br><br><br>
          &nbsp;
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home home-app our-app">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <%= image_tag('home-app.png', class: "phone-picture") %>
      </div>
      <div class="col-sm-5 app-info" style="float: right;">
        <h3 class="app-heading">
          <%= t 'main_page.check' %> <br>
          <strong><%= t 'main_page.new_app' %></strong>
        </h3>
        <p class="app-des">
          <%= t 'main_page.new_app_desc' %>
        </p>
        <div class="row downloads">
          <div class="col-sm-5 col-xs-12 google-play-image">
            <%= image_tag('app-download-android.svg') %>
          </div>
          <div class="col-sm-5 col-xs-12">
            <%= image_tag('app-download-ios.svg') %>
          </div>
          <br><br><br>
          <h1 style="margin-left: 0.5em"><strong> <%= t 'main_page.comming_soon' %> </strong></h1>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/testimonials' %>
<%= render 'shared/share' %>  