<div class="home-jumbotron jumbotron">
  <div class="container">
    <div class="slogan align-in-mobile">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="slogan-title heading">WELCOME NEW SMILE</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p class="slogan-description">Smile Me Up offers you 2 different ways to get your dream smile for <br>the fairest prices!</p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-sm-6 col-xs-12 col-sm-2 header-button">
          <a class="btn btn-default btn-lg second" href="/products/clearup" role="button">CLEAR UP</a>
        </div>
        <div class="col-sm-6 col-xs-12 col-sm-2 header-button">
          <a class="btn btn-default btn-lg" href="/products/snapup" role="button" style="margin-left: -2.3em">SNAP UP</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center ">
    <div id="home-mouse">
      <%= image_tag('mouse.svg') %>
    </div>
  </div>
</div>

<div class="home container" id="scroll-down">
  <div class="text-center">
    <h3>Why <strong style="color: #96bf3d"> Smile Me Up ?</strong></h3>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <p class="text-midium" style="font-weight: normal; color: #BDBDBD; font-size: 17px">Established methods for the most optimum teeth solutions.</p>
      </div>
    </div>
  </div>
  <div class="row home-why text-center">
    <div class="col-sm-3 home-why-item">
      <%= image_tag('home-1.svg') %>
      <h4>Smile <strong>Experts</strong></h4>
      <p>
        Our smile experts - medical experts, dentists and orthodentists - will ensure the best results.
      </p>
    </div>
    <div class="col-sm-3 home-why-item">
      <%= image_tag('home-2.svg') %>
      <h4><strong>Credibility</strong></h4>
      <p>
        Our products are subject to the highest quality standards, manufactured by experts with <br>over 12 years of experience.
      </p>
    </div>
    <div class="col-sm-3 home-why-item">
      <%= image_tag('home-3.svg') %>
      <h4><strong>2 in 1</strong></h4>
      <p>
        We offer you two options to get your smile either our removable veneers or invisible <br>removable braces.
      </p>
    </div>
    <div class="col-sm-3 home-why-item">
      <%= image_tag('home-4.svg') %>
      <h4>Satisfaction <strong>Guarantee</strong></h4>
      <p>
        For more information about our guarantee, please check our <br>terms and conditions.
      </p>
    </div>
  </div>
</div>


<div class="home container">
  <div class="text-center">
    <h3>Select Your Ideal <strong style="color: #96bf3d">Smiling Solution</strong></h3>
  </div>
  <div class="row home-products">
    <div class="col-sm-6">
      <div class="shadow over-flow-shadow">
        <div class="row home-products-item">
          <div class="col-sm-12">
            <%= image_tag('home-product-2.png', class: "clear-snap-image") %>
          </div>
          <div class="col-sm-12">
            <a href="/products/clearup"><h1 class="green order-heading">CLEAR UP</h1></a>
            <p class="order-min-height">
              You wish to straighten your teeth or close <br>gaps? Without traditional braces? <br>You prefer to pay less for a high-quality <br>treatment? Then you should choose our <br>invisible, discreet aligner "Clear Up"
            </p>
            <p>
              <a class="btn btn-default btn-lg btn-green" href="/products/clearup/clearup_impression" role="button">Start Now</a>
            </p>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="shadow over-flow-shadow">
        <div class="row home-products-item">
          <div class="col-sm-12">
            <%= image_tag('home-product-1.png', class: "clear-snap-image") %>
          </div>
          <div class="col-sm-12">
            <a href="/products/snapup"><h1 class="green order-heading">SNAP UP</h1></a>
            <p class="order-min-height">
              Our removable instant veneers snaps <br>easily on your teeth and cover missing, <br>crooked or discolored
              teeth - without any <br>adhesives or teeth modifications.<br><br>
            </p>
            <p>
              <a class="btn btn-default btn-lg btn-green" href="/products/snapup/customize" role="button">Order Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="home container">
  <div class="text-center">
    <h3>How it <strong style="color: #96bf3d ">works</strong></h3>
  </div>
  <div class="row home-how">
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <div class="home-how-number">1</div>
        <div class="text-center">
          <%= image_tag('home-how-1.svg')%>
        </div>
        <h4 class="green text-center">Choose your <br>favorite product</h4>
        <p>
           With our CLEAR UP aligners, we treat crooked teeth or gaps. If you wish to cover crooked, discolored or some missing teeth, or SNAP UP veneers is your best choice.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="home-how-item shadow min-height-shadow">
        <div class="home-how-number">2</div>
        <div class="text-center">
          <%= image_tag('home-how-2.svg')%>
        </div>
        <h4 class="green text-center">Order Your <br>Impression Kit</h4>
        <p>
          Send us your pictures through the Smile Assessment and receive <br>a professional evaluation.<br><br><br></p>
      </div>
    </div>
    <div class="col-sm-4">  
      <div class="home-how-item shadow min-height-shadow">
        <div class="home-how-number">3</div>
        <div class="text-center">
          <%= image_tag('home-how-3.svg')%>
        </div>
        <h4 class="green text-center">Track Your Kit Or <br>Get Your Assessment Results</h4>
        <p>
          Start your Journey Order your preferred product and start the exciting journey! <br><br><br>
          &nbsp;
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home home-app our-app">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <%= image_tag('home-app.png', class: "phone-picture") %>
      </div>
      <div class="col-sm-5 app-info" style="float: right;">
        <h3 class="app-heading">
          Check out <br>
          <strong>Our new app !</strong>
        </h3>
        <p class="app-des">
          You can send us pictures of your teeth, <br>track your order, chat with us and <br>discover our features.
        </p>
        <div class="row downloads">
          <div class="col-sm-5 col-xs-12 google-play-image">
            <%= image_tag('app-download-android.svg') %>
          </div>
          <div class="col-sm-5 col-xs-12">
            <%= image_tag('app-download-ios.svg') %>
          </div><br><br><br>
          <h1 style="margin-left: 0.5em"><strong> Coming soon </strong></h1>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/testimonials' %>
<%= render 'shared/share' %>  