<div class="legal-jumbotron jumbotron">
  <div class="container">
    <div class="slogan legal-slogan">
      <h1 class="slogan-title aligns-faq"><span class="aligns-span"> <%= t 'legal.title1'%> </span><br><strong> <%= t 'legal.title2'%></strong></h1>
      <div class="row">
        <div class="col-sm-5">
          <p style="margin-top: 4em; margin-left: -2em">
            <%= t 'legal.desc'%>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="legal container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <h1>
          <%= t 'legal.title1'%>  <strong class="green"> <%= t 'legal.title2'%> </strong>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <h3><strong> <%= t 'legal.head0' %></strong></h3>
        <p> <%= t 'legal.body0.part1' %> </p>
        <p> <%= t 'legal.body0.part2' %> </p>
        <p> <%= t 'legal.body0.part3' %> </p>
        <p> <%= t 'legal.body0.part4' %> </p>
        <p> <%= t 'legal.body0.part5' %> </p>
        <p> <%= t 'legal.body0.part6' %> </p>
        <p> <%= t 'legal.body0.part7' %> </p>
        <p> <%= t 'legal.body0.part8' %> </p>
        <p> <%= t('legal.body0.part9').html_safe %> </p>
        <p> <%= t('legal.body0.part10').html_safe %> </p>
        <p> <%= t('legal.body0.part11').html_safe %> </p>

        <!--<h3><strong><%= t 'legal.head1'%> </strong></h3>
        <p>

        <p> <%= t 'legal.body1.part1'%> </p>
        <p> <%= t 'legal.body1.part2'%> </p>
        <p> <%= t 'legal.body1.part3'%></p>
        </p> 
        <h3> <strong><%= t 'legal.head2'%> </strong></h3>
        <p>
          <%= t 'legal.body2'%>
        </p>
        <h3> <strong><%= t 'legal.head3'%> </strong></h3>
        <p>
          <%= t 'legal.body3'%>
        </p>
        <h3> <strong><%= t 'legal.head4'%> </strong></h3>
        <p>
          <%= t 'legal.body4'%>

        </p>  
        <h3> <strong><%= t 'legal.head5'%> </strong></h3>
        <p>
          <%= t 'legal.body5.part1'%>
        </p>
        <p>
          <%= t 'legal.body5.part2'%>
        </p>
        <p>
          <%= t 'legal.body5.part3'%>
        </p>-->
      </div>
    </div>
  </div>
</div>