<div class="products-jumbotron jumbotron product">
  <div class="container">
    <div class="slogan slogan-padding">
      <div class="row">
        <div class="col-sm-3">
          <h1 class="slogan-title aligns-product">
            <span class="aligns-span"> <%= t 'products.our'%></span>
            <br><strong><span><%= t 'products.products'%></span></strong>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container padding" style="margin-bottom: 2em">
  <div class="text-center">
    <h3><%= t 'products.select_your_smile'%> <strong class="green"><%= t 'products.smiling_solution'%></strong></h3>
  </div>
</div>

<div class="product jumbotron snapup">
  <div class="container">
    <div class="slogan slogan-padding">
     <div class="clear-up">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="extra-bold">CLEAR UP</h1>
          <p>
            <%= t 'products.clear_up.desc'%>

          </p>
          <p>
            <a class="btn btn-default btn-lg" href="/products/clearup" role="button">
              <%= t 'products.clear_up.start_now'%>
            </a>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product jumbotron clearup">
  <div class="container">
    <div class="slogan slogan-padding">
     <div class="snap-up">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="extra-bold">SNAP UP</h1>
          <p>
            <%= t 'products.snap_up.desc'%>

          </p>
          <p>
            <a class="btn btn-default btn-lg" href="/products/snapup" role="button"><%= t 'products.snap_up.order_now'%></a>
          </p>
        </div>
      </div>
     </div> 
    </div>
  </div>
</div>