<div class="product-snapup jumbotron">
  <div class="container text-center">
    <div class="">
      <h1 class="slogan-title snap-overview-head">Snap Up<br><strong>Product Overview</strong></h1>
      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          <p class="snap-overview-des">
            Our removable instant veneers that snap easily on your teeth, they cover missing, crooked or discolored teeth. Snap Up Clips on your teeth without adhesives <br>nor any teeth modifications.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center over-new-smile">
    <h3>What is <strong class="green">SNAPUP?</strong></h3>
        <p class="text-midium snap-overview-padding">Innovative. removable, longlasting, natural-looking veneers -  it is the fastest way to your ideal smile <br>- Through our Snap up we have ultimately managed to revolutionarize the hollywood smiles or <br>removable veneers concept to give you the best instant smile on the market. <a>See More</a></p>
  </div>

  <div class="row home-why text-center">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="home-why-item shadow our-new-smile">
        <%= image_tag('instant.svg') %>
        <h4>Instant <strong>New Smile</strong></h4>
        <p>
          Just clip it on your teeth and show your most beautiful smile -  for daily or <br>occasional use.
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="home-why-item shadow our-new-smile">
        <%= image_tag('customized.svg') %>
        <h4><strong>Customized</strong></h4>
        <p>
          Simply select the teeth shade and design of your Snap Up. We produce your Snap Up tailored to your <br>teeth perfectly.
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="home-why-item shadow our-new-smile">
        <%= image_tag('comfort.svg') %>
        <h4>Longlasting<strong> comfort</strong></h4>
        <p>
           We use highest quality german materials, some clients reported to use it over 4 and 5 years long.
        </p>
      </div>
    </div>
     <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="home-why-item shadow our-new-smile">
        <%= image_tag('affordable.svg') %>
        <h4> <strong>Affordable</strong></h4>
        <p>
         Porcelain veneers for over 10,000€ or a Snap Up <br>for only 890€?
        </p>
      </div>
    </div>

  </div>


</div>

<div class="home container">
  <div class="text-center button-over-view">
    <h3> <strong>Order your SNAP UP now!</strong></h3>
    <p>
      Not sure yet whether the Snap Up is the best choice  for<br> your concern, send us a request by clicking on the  button
    </p>
    <a class="btn btn-default btn-lg btn-green" href="/products/snapup/customize" role="button">Order Now</a>
  </div>
</div>
<!-- start Our Video style -->
<div class="video-section">
  <div class="home container">
    <div class="text-center over-new-smile">
      <h3>Some of our <strong class="green"><br>testimonials</strong></h3>
          <p class="text-midium"></p>
    </div>

    <div class="row home-why text-center">
      <div class="col-sm-8 col-xs-12">
        <div class="main-video">
        <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/VdpmJOrMhjw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>



      </div>
          
        </div>
      </div>
       <div class="col-sm-4 col-xs-12">
        <div class="col-sm-12 col-xs-12">
          <div class="side-videos">
         <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Pra8uH19zow" frameborder="0" allowfullscreen=""></iframe> 
      </div>
       </div>
      </div>

       <div class="col-sm-12 col-xs-12">
         <div class="side-videos">
         <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tqNjSVSpU5s" frameborder="0" allowfullscreen=""></iframe>

      </div>
       </div>
      </div>

       <div class="col-sm-12 col-xs-12">
        <div class="side-videos">
         <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/cRoetw9DD_M" frameborder="0"  allowfullscreen=""></iframe> 
      </div>
       </div>
      </div>
      </div>
      

    </div>


  </div>
</div>


<!--End  Our Video style-->


<!--
<div class="dark-bg">
  <div class="home container text-center">
    <h3>A Selection Of Our Customer</h3>
    <h3 class="green"><strong>Videos And Reviews</strong></h3>
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <p>
          The most advanced cosmetic teeth straightening without the hefty price tag.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-sm-push2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="col-sm-2 col-sm-push-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
-->
<div class="home container text-center mile-slider">
  <h3 class="green"><strong>Inspiration</strong></h3>
  <p>Get inspired by some of our before and after pictures.</p>
</div>

<div class="home product product-ba">
  <div class="row">
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-1.png') %>
    </div>
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-2.png') %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-3.png') %>
    </div>
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-4.png') %>
    </div>
  </div>
  <div class="row hide-box">
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-3.png') %>
    </div>
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-4.png') %>
    </div>
  </div>
  <div class="row hide-box">
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-3.png') %>
    </div>
    <div class="col-sm-4 col-sm-push-2">
      <%= image_tag('snapup-ba-4.png') %>
    </div>
  </div>
</div>

<div class="home container text-center mile-slider">
  <button type="button" class="btn btn-lg btn-green btn-hover load-more" data-toggle="modal" data-target="#hollywoodModal">Load More</button>
</div>





<div class="home product container text-center">
  <div class="row eq-height">
    <div class="col-md-3 col-xs-12 col-sm-push-1 steps-slogan steps-slogan-left">
      <div class="slogan-width">
        <h3 class="">4 simple steps to<br><span class="green"><strong>your beautiful straight white teeth</strong></span></h3>        
      </div>
      <p class="slogan-des">
        <a class="btn btn-default btn-lg btn-green" href="/products/snapup/customize" role="button">Order Now</a>
      </p>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-push-2">
      <div class="row">
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('choosedesign.svg') %>
          </div>
          <div class="col-sm-8 col-sm-8 product-text">
            <h4 class="choose-heading">Choose your favorite smile design</h4>
          </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('order-clearup.svg') %>
          </div>
          <div class="col-sm-8 col-sm-8 product-text">
          <h4 class="choose-heading">Order and pay your<br><strong>Snap Up.</strong></h4>
        </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('impressions.svg') %>
            </div>
            <div class="col-sm-8 col-sm-8 product-text">
            <h4 class="choose-heading">Take your impressions with ourhome<strong><br> impression kit.</strong></h4>
          </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12 shadow product-steps-item steps-slogan-left">
          <div class="cell choose-product">
            <div class="col-md-4 col-sm-4" style="margin: 0">
            <%= image_tag('welcome.svg') %>
          </div>
          <div class="col-sm-8 col-sm-8 product-text">
            <h4 class="choose-heading">Welcome <strong>New Smile</strong></h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

