
<div class="product-snapup jumbotron">
  <div class="container text-center">
    <div class="">
      <h1 class="slogan-title snap-overview-head">
        Snap Up <strong><%= t('products.veneers')%> Veneers</strong><br>
        Tailor your perfect smile.
      </h1>

      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          <p class="snap-overview-des">
            Snap Up <%= t('products.snap_up.order_desc')%>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container product">
  
    <div class="text-center">
      <h3><%= t('products.snap_up.order.title1')%> <br>
        <strong class="green"><%= t('products.snap_up.order.title2')%> </strong>
      </h3>
      <p class="text-midium snap-order-padding"> <%= t('products.snap_up.order.desc').html_safe %>

      </p>

   
  </div>
 <!--
  <div class="row">
    <div class="col-sm-6 col-sm-push-3 text-center">
      <div class="selection-border row">
        <div class="col-xs-4">
          <button type="button" id="upper" class="btn btn-default btn-lg">Upper teeth</button>
        </div>
        <div class="col-xs-4">
          <button type="button" id="lower" class="btn btn-default btn-lg ">Lower teeth</button>
        </div>
        <div class="col-xs-4">
          <button type="button" id="both" class="btn btn-green btn-lg active">Both teeth</button>
        </div>
      </div>
    </div>
  </div>
-->
  <div class="row text-center">
    <div class="col-sm-3 product-item">
      <%= image_tag('products/hollywood.png') %>
      <h3 class="pro-item-heading"><%= t('products.snap_up.styles.title1')%>  </h3>
      <p class="pro-item-des">(<%= t('products.snap_up.styles.desc1')%>)</p>
      <button type="button" class="btn btn-lg btn-green btn-hover" data-toggle="modal" data-target="#hollywoodModal"><%= t('products.add_to_card')%></button>
    </div>
    <div class="col-sm-3 product-item">
      <%= image_tag('products/natural.png') %>
      <h3 class="pro-item-heading"><%= t('products.snap_up.styles.title2')%> </h3>
      <p class="pro-item-des">(<%= t('products.snap_up.styles.desc2')%> )</p>
      <button type="button" class="btn btn-lg btn-green btn-hover" data-toggle="modal" data-target="#naturalModal"><%= t('products.add_to_card')%></button>
    </div>
    <div class="col-sm-3 product-item">
      <%= image_tag('products/sharp.png') %>
      <h3 class="pro-item-heading"><%= t('products.snap_up.styles.title3')%> </h3>
      <p class="pro-item-des">(<%= t('products.snap_up.styles.desc3')%>)</p>
      <button type="button" class="btn btn-lg btn-green btn-hover" data-toggle="modal" data-target="#sharpModal"><%= t('products.add_to_card')%></button>
    </div>
    <div class="col-sm-3 product-item">
      <%= image_tag('products/soft.png') %>
      <h3 class="pro-item-heading"><%= t('products.snap_up.styles.title4')%> </h3>
      <p class="pro-item-des">(<%= t('products.snap_up.styles.desc4')%>)</p>
      <button type="button" class="btn btn-lg btn-green btn-hover" data-toggle="modal" data-target="#softModal"><%= t('products.add_to_card')%></button>
    </div>
  </div>

</div>

<%= render 'shared/share' %>

<%= render 'shared/snapup_modals' %>