<div class="terms-jumbotron jumbotron">
  <div class="container">
    <div class="slogan faq-slogan">
      <h1 class="slogan-title aligns-faq">
        <span class="aligns-span">
          <%= t 'terms.page.title1' %>
        </span> <br><strong>
        <%= t 'terms.page.title2' %>
      </strong></h1>
      <div class="row">
        <div class="col-sm-5">
          <p>
            <%= t('terms.desc').html_safe %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="terms container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <h1>
          <%= t 'terms.page.subtitles.title1' %>   <strong class="green"> <%= t('terms.page.subtitles.title2').html_safe %> </strong>
        </h1>
        <p class="text-muted">
          <%= t 'terms.page.desc' %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <h3><strong> <%= t 'terms.title1' %></strong></h3>
        <p>
          <%= t('terms.desc1').html_safe %>
        </p> 
        <h3><strong><%= t 'terms.title2' %></strong></h3>
        <p>
          <%= t 'terms.desc2' %>
        </p>
        <h3><strong> <%= t 'terms.title3' %> </strong></h3>
        <p>
          <%= t 'terms.desc3' %>
        </p>
        <h3><strong> <%= t 'terms.title4' %> </strong></h3>
        <p>
          <%= t 'terms.desc4' %>
        </p>  
        <h3><strong> <%= t 'terms.title5' %> </strong></h3>
        <p>
          <%= t('terms.desc5').html_safe %>
        </p>
        <h3><strong> <%= t 'terms.title6' %> </strong></h3>
        <p>
          <%= t 'terms.desc6' %>
        </p>
        <h3><strong> <%= t 'terms.title7' %> </strong></h3>
        <p>
          <%= t 'terms.desc7' %>

        </p>
        <h3><strong> <%= t 'terms.title8' %> </strong></h3>
        <p>
          <%= t 'terms.desc8' %>

        </p>
        <h3><strong> <%= t 'terms.title9' %> </strong></h3>
        <p>
          <%= t 'terms.desc9' %>

        </p>
        <h3><strong> <%= t 'terms.title10' %> </strong></h3>
        <p>
          <%= t 'terms.desc10' %>

        </p>
        <h3><strong> <%= t 'terms.title11' %> </strong></h3>
        <p>
          <%= t 'terms.desc11' %>

        </p>
        <h3><strong> <%= t 'terms.title12' %> </strong></h3>
        <p>
          <%= t 'terms.desc12' %>

        </p>
        <h3><strong> <%= t 'terms.title13' %> </strong></h3>
        <p>
          <%= t 'terms.desc13' %>

        </p>
        <h3><strong> <%= t 'terms.title14' %> </strong></h3>
        <p>
          <%= t 'terms.desc14' %>

        </p>
        <h3><strong> <%= t 'terms.title15' %> </strong></h3>
        <p>
          <%= t 'terms.desc15' %>

        </p>
        <h3><strong> <%= t 'terms.title16' %> </strong></h3>
        <p>
          <%= t 'terms.desc16' %>

        </p>
        <h3><strong> <%= t 'terms.title17' %> </strong></h3>
        <p>
          <%= t 'terms.desc17' %>

        </p>
      </div>
    </div>
  </div>
</div>