<div class="nav-cover">
</div>
<div class="clearup-candidate container text-center">
  
  <div class="row">
    <div class="col-sm-4 col-sm-push-4">
      <h3> <%= t('products.am_candidate').html_safe%> </h3>
      <p>
        <%= t('products.am_candidate_desc')%>
      </p>
      <h5>
        <strong>
        <%= t('products.take_30_seconds')%>

      </strong>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-push-3">
      <h3><strong><%= t 'products.upload_images' %> </strong></h3>
    </div>
  </div>
  <div class="row candidate-images">
    <div class="col-sm-2 col-sm-push-2">
      <%= image_tag('candidate/candidate-1.svg') %>
      <p><%= t 'products.left_side_view' %> </p>
      <%= form_tag("/products/clearup/candidate", method: :post, multipart: true, remote: true, authenticity_token: true, id: "uploader-form-1") do %>
      <%= file_field_tag :file1, accept: 'image/png,image/gif,image/jpeg' %>
      <button id="file1_trigger" class="btn btn-default">Upload</button>
      <% end %>
    </div>
    <div class="col-sm-2 col-sm-push-2">
      <%= image_tag('candidate/candidate-2.svg') %>
      <p><%= t 'products.right_side_view' %> </p>
      <%= form_tag("/products/clearup/candidate", method: :post, multipart: true, remote: true, authenticity_token: true, id: "uploader-form-2") do %>
      <%= file_field_tag :file2, accept: 'image/png,image/gif,image/jpeg' %>
      <button id="file2_trigger" class="btn btn-default">Upload</button>
      <% end %>
    </div>
    <div class="col-sm-2 col-sm-push-2">
      <%= image_tag('candidate/candidate-3.svg') %>
      <p><%= t 'products.open_mouth_from_above' %> </p>
      <%= form_tag("/products/clearup/candidate", method: :post, multipart: true, remote: true, authenticity_token: true, id: "uploader-form-3") do %>
      <%= file_field_tag :file3, accept: 'image/png,image/gif,image/jpeg' %>
      <button id="file3_trigger" class="btn btn-default">Upload</button>
      <% end %>
    </div>
    <div class="col-sm-2 col-sm-push-2">
      <%= image_tag('candidate/candidate-4.svg') %>
      <p><%= t 'products.open_mouth_from_below' %> </p>
      <%= form_tag("/products/clearup/candidate", method: :post, multipart: true, remote: true, authenticity_token: true, id: "uploader-form-4") do %>
      <%= file_field_tag :file4, accept: 'image/png,image/gif,image/jpeg' %>
      <button id="file4_trigger" class="btn btn-default">Upload</button>
      <% end %>
    </div>
    
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-push-4 pagination">
      <button type="" class="btn btn-green btn-large" disabled=""><%= t 'back' %> </button>
      <a href class="btn btn-green btn-large" id="candidateSubmit"><%= t 'next'%>  </a>
    </div>
  </div>
</div>
