<div class="reason-blog-jumbotron jumbotron">

</div>

<div class="container">
  <h3 class="text-center green Bold"><strong><%= t 'blogs.blog1.title' %></strong></h3><br>
  <div>
    <h3 class="green" style="">
      <strong> <%= t 'blogs.blog1.body.subtitle1' %> </strong>
    </h3>
    <div>
      <h4>
        <%= t 'blogs.blog1.body.sentence1' %>

      </h4>
      <br>
      <h3 class="green" style="">
        <strong> <%= t 'blogs.blog1.body.subtitle2' %></strong>
      </h3>
      <h4>
        <%= t 'blogs.blog1.body.sentence2' %>
      </h4>
       
      <br>

      <div>
        <h3 class="green" style="">
          <strong> <%= t 'blogs.blog1.body.subtitle3' %></strong>
        </h3>
      </div>
      <h4>
        <%= t 'blogs.blog1.body.sentence3' %>
       </h4><br>
       
      <div>
        <h3 class="green" style="">
          <strong><%= t 'blogs.blog1.body.subtitle4' %> </strong>
        </h3>
      </div>

      <h4>
        <%= t 'blogs.blog1.body.sentence4' %>
      </h4><br>

      <div>
        <h3 class="green" style="">
          <strong> <%= t 'blogs.blog1.body.subtitle5' %> </strong>
        </h3>
      </div>

      <h4>
        <%= t 'blogs.blog1.body.sentence5' %>
      </h4>

    </div>
  </div>
</div>
