<div class="clear-blog-jumbtron jumbotron">
</div>
<div class="container">
  <h3 class="text-center green Bold"><%= t 'blogs.blog3.title' %></h3><br>

  <h4>
    <%= t('blogs.blog3.body.sentence1').html_safe %>
  </h4><br>
  
  <div><h3 class="green" style=""><srtong><%= t 'blogs.blog3.body.subtitle1' %> </srtong></h3></div><br>

  <h4>
    <%= t 'blogs.blog3.body.sentence2' %>
    </h4><br>
  
  <div><h3 class="green" style=""><srtong> <%= t 'blogs.blog3.body.subtitle2' %></srtong></h3></div><br>

  <h4>
    <%= t 'blogs.blog3.body.sentence3' %>
    </h4>
</div>

      