<div class="blog-jumbotron jumbotron">
  <div class="container">
    <div class="blog-page">
      <h1 class="blog-title">Our <br><strong>BLOG</strong></h1>
      <div class="row">
        <div class="col-sm-4">
          <p>
            Everything related to teeth and beauty, <br>co-created by our partners.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <h3>
           Our top  <strong class="green">viewed blogs</strong>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="blog-banner">
  <%= image_tag('blog-banner.png') %>
</div>
<!--
<div class="container">
<div class="shadow width-blog-ar">
<div class="row">
  
    <div class="col-sm-4">
    <div class="Blog-artical_img">
      <%= image_tag('P-Blog01.jpg', class: "P-Blog01") %>
    </div>
    </div>
    <div class="col-sm-8">
    <div class="contact-blog01">
      <a href="/blog/5-reasons-why-invest-your-money-in-invisible-teeth-straightening"><h1 class="green head-blog bold">5 reasons why invest your money in invisible teeth straightening?</h1></a>
      <p class="Paragraph-blog">
        Over the last 20 years clear invisible aligners have proven to be the best alternative to the fixed orthodontic brackets in so many cases that <br>today almost 80%
      </p>  
    </div> 
  </div>
</div>
</div>
<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog02.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="blog/veneers-vswhite-bleaching"><h1 class="green head-blog bold">Veneers vs white bleaching</h1></a>
    <p class="Paragraph-blog">
      You wish to straighten your teeth or close gaps? Without traditional braces? You prefer to pay less for a high-quality treatment? Then you should choose our invisible, discreet aligner "Clear Up"
    </p>  
  </div> 
</div>

<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog03.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="/blog/Clear-braces-VS-metal-braces"><h1 class="green head-blog bold">Clear braces VS metal braces </h1></a>
    <p class="Paragraph-blog">
      You wish to straighten your teeth or close gaps? Without traditional braces? You prefer to pay less for a high-quality treatment? Then you should choose our invisible, discreet aligner "Clear Up"
    </p>  
  </div> 
</div>

<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog04.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="/blog/What-to-eat-after-veneers"><h1 class="green head-blog bold">What to eat after veneers</h1></a>
    <p class="Paragraph-blog">
      You wish to straighten your teeth or close gaps? Without traditional braces? You prefer to pay less for a high-quality treatment? Then you should choose our invisible, discreet aligner "Clear Up"
    </p>  
  </div> 
</div>

</div>

-->


<!-- start Our Blog ost -->

<div class="our-blog-posts">

  <div class="container over-flow-hidden">
    <div class="row">
      <div class="all-blog">
        
        <div class="col-sm-6 col-xs-12">
          <div class="post-image">
          <%= image_tag('P-Blog01.jpg', class: "img-responsive post-image" ) %>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="post-content text-center">
            <a href="/blog/5-reasons-why-invest-your-money-in-invisible-teeth-straightening" class="post-heading green">
              <h2 class="">
                5-reasons-why-invest-your-money-in-invisible-teeth-straightening
              </h2>
            </a>
            
            <p class="post-description">
              Over the last 20 years clear invisible aligners have proven to be the best alternative to the fixed orthodontic brackets in so many cases that today almost 80%
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>

<!-- End Our Blog post -->


