<div class="blog-jumbotron jumbotron">
  <div class="container">
    <div class="blog-page">
      <h1 class="blog-title"><%= t('blogs.title').html_safe %> </h1>
      <div class="row">
        <div class="col-sm-4">
          <p>
            <%= t('blogs.desc').html_safe %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <h3>
          <%= t('blogs.subitlte').html_safe %>

        </h3>
      </div>
    </div>
  </div>
</div>

<div class="blog-banner">
  <%= image_tag('blog-banner.png') %>
</div>
<!--
<div class="container">
<div class="shadow width-blog-ar">
<div class="row">
  
    <div class="col-sm-4">
    <div class="Blog-artical_img">
      <%= image_tag('P-Blog01.jpg', class: "P-Blog01") %>
    </div>
    </div>
    <div class="col-sm-8">
    <div class="contact-blog01">
      <a href="/blog/5-reasons-why-invest-your-money-in-invisible-teeth-straightening"><h1 class="green head-blog bold">5 reasons why invest your money in invisible teeth straightening?</h1></a>
      <p class="Paragraph-blog">
        Over the last 20 years clear invisible aligners have proven to be the best alternative to the fixed orthodontic brackets in so many cases that <br>today almost 80%
      </p>  
    </div> 
  </div>

</div>
</div>
<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog02.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="blog/veneers-vswhite-bleaching">
      <h1 class="green head-blog bold">
        <%= t 'blogs.blog2.title'%>
      </h1>
    </a>
    <p class="Paragraph-blog">
      <%= t 'blogs.blog2.desc'%>
    </p>  
  </div> 
</div>

<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog03.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="/blog/Clear-braces-VS-metal-braces">
      <h1 class="green head-blog bold">
        <%= t 'blogs.blog3.title'%>
      </h1>
    </a>
    <p class="Paragraph-blog">
      <%= t 'blogs.blog3.desc'%>
    </p>  
  </div> 
</div>

<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog04.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="/blog/What-to-eat-after-veneers">
      <h1 class="green head-blog bold">
        <%= t 'blogs.blog4.title'%>

      </h1>
    </a>
    <p class="Paragraph-blog">
      <%= t 'blogs.blog4.desc'%>
    </p>  
  </div> 
</div>

</div>

-->


<!-- start Our Blog ost -->

<div class="our-blog-posts">

  <div class="container over-flow-hidden">
    <div class="row">
      <div class="all-blog">
        
        <div class="col-sm-6 col-xs-12">
          <div class="post-image">
          <%= image_tag('P-Blog01.jpg', class: "img-responsive post-image" ) %>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="post-content text-center">
            <a href="/blog/5-reasons-why-invest-your-money-in-invisible-teeth-straightening" class="post-heading green">
              <h2 class="">
                5-reasons-why-invest-your-money-in-invisible-teeth-straightening
              </h2>
            </a>
            
            <p class="post-description">
              Over the last 20 years clear invisible aligners have proven to be the best alternative to the fixed orthodontic brackets in so many cases that today almost 80%
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="container over-flow-hidden">
    <div class="row">
      <div class="all-blog">
        
        <div class="col-sm-6 col-xs-12">
          <div class="post-image">
          <%= image_tag('P-Blog02.jpg', class: "img-responsive post-image" ) %>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="post-content text-center">
            <a href="/blog/5-reasons-why-invest-your-money-in-invisible-teeth-straightening" class="post-heading green">
              <h2 class="">
                 Veneers vs white bleaching
              </h2>
            </a>
            
            <p class="post-description">
              Studies have confirmed that a white and evenly spaced set of teeth makes people seem more attractive, Because teeth are the human equivalent of a peacock’s tail - a sign of health and genetic quality designed to help choose a mate. 
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="container over-flow-hidden">
    <div class="row">
      <div class="all-blog">
        
        <div class="col-sm-6 col-xs-12">
          <div class="post-image">
          <%= image_tag('P-Blog03.jpg', class: "img-responsive post-image" ) %>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="post-content text-center">
            <a href="/blog/5-reasons-why-invest-your-money-in-invisible-teeth-straightening" class="post-heading green">
              <h2 class="">
                Clear braces VS metal braces
              </h2>
            </a>
            
            <p class="post-description">
              We have all heard the term “braces” , and we certainly have a good idea about the metal wire that applies pressure to move the  teeth for a more symmetric smile but as dental seneice progresses so  does our methods , braces done a couple of years ago are different from nowadays , for example metal braces are significantly more comfortable than before , also differences are beyond only confort nearly every aspect of our braces has improved here are the details.. 
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="container over-flow-hidden">
    <div class="row">
      <div class="all-blog">
        
        <div class="col-sm-6 col-xs-12">
          <div class="post-image">
          <%= image_tag('P-Blog04.jpg', class: "img-responsive post-image" ) %>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="post-content text-center">
            <a href="/blog/5-reasons-why-invest-your-money-in-invisible-teeth-straightening" class="post-heading green">
              <h2 class="">
                5-reasons-why-invest-your-money-in-invisible-teeth-straightening
              </h2>
            </a>
            
            <p class="post-description">
              Over the last 20 years clear invisible aligners have proven to be the best alternative to the fixed orthodontic brackets in so many cases that today almost 80%
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>


</div>

<!-- End Our Blog post -->


