<div class="blog-jumbotron jumbotron">
  <div class="container">
    <div class="blog-page">
      <h1 class="blog-title"><%= t('blogs.title').html_safe %> </h1>
      <div class="row">
        <div class="col-sm-4">
          <p>
            <%= t('blogs.desc').html_safe %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <h3>
          <%= t('blogs.subitlte').html_safe %>

        </h3>
      </div>
    </div>
  </div>
</div>

<div class="blog-banner">
  <%= image_tag('blog-banner.png') %>
</div>

<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog01.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="/blog/5-reasons-why-invest-your-money-in-invisible-teeth-straightening">
      <h1 class="green head-blog bold">
        <%= t 'blogs.blog1.title'%>
      </h1>
    </a>
    <p class="Paragraph-blog">
      <%= t 'blogs.blog1.desc'%>
    </p>  
  </div> 
</div>

<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog02.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="blog/veneers-vswhite-bleaching">
      <h1 class="green head-blog bold">
        <%= t 'blogs.blog2.title'%>
      </h1>
    </a>
    <p class="Paragraph-blog">
      <%= t 'blogs.blog2.desc'%>
    </p>  
  </div> 
</div>

<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog03.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="/blog/Clear-braces-VS-metal-braces">
      <h1 class="green head-blog bold">
        <%= t 'blogs.blog3.title'%>
      </h1>
    </a>
    <p class="Paragraph-blog">
      <%= t 'blogs.blog3.desc'%>
    </p>  
  </div> 
</div>

<div class="shadow width-blog-ar">
  <div class="Blog-artical_img">
    <%= image_tag('P-Blog04.jpg', class: "P-Blog01") %>
  </div>
  <div class="contact-blog01">
    <a href="/blog/What-to-eat-after-veneers">
      <h1 class="green head-blog bold">
        <%= t 'blogs.blog4.title'%>

      </h1>
    </a>
    <p class="Paragraph-blog">
      <%= t 'blogs.blog4.desc'%>
    </p>  
  </div> 
</div>