<div class="nav-cover">
</div>
<div class="veneers-blog-jumbtron jumbotron">  
</div>
<div class="container blog-bcontent">
  <h3 class="text-center green bold" style="margin: 0"><%= t 'blogs.blog2.title' %></h3><br>

  <h4><%= t 'blogs.blog2.body.sentence1' %></h4> <br>
  <h4><%= t 'blogs.blog2.body.sentence2' %></h4> <br>
  <h4><%= t 'blogs.blog2.body.sentence3' %></h4> <br>
  <h4><%= t('blogs.blog2.body.sentence4').html_safe %></h4> <br>

</div>