<div class="whattoeat-blog-jumbtron jumbotron">  
</div>
<div class="container">
  <h3 class="text-center green bold"> <%= t 'blogs.blog4.title' %></h3><br>

    <h4><%= t 'blogs.blog4.body.subtitle1' %>
    <div><h3 class="green"><srtong><%= t 'blogs.blog4.body.subtitle2' %> </srtong></h3></div><br>
      <%= t 'blogs.blog4.body.subtitle3' %>
    <div><h3 class="green"><srtong><%= t 'blogs.blog4.body.subtitle4' %> </srtong></h3></div><br>
    <div><h3 class="green"><srtong> <%= t 'blogs.blog4.body.subtitle5' %> </srtong></h3></div><br>
    <div><h3 class="green"><srtong><%= t 'blogs.blog4.body.subtitle6' %> </srtong></h3></div><br>
    <div><h3 class="green"><srtong> <%= t 'blogs.blog4.body.subtitle7' %></srtong></h3></div><br>
      <%= t 'blogs.blog4.body.subtitle8' %>
    </h4><br>

</div>