<!DOCTYPE html>
<html lang="<%= @lang %>">
  <head>

    <meta charset="utf-8">
    <title>Smilemeup</title>


    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

    
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Montserrat:300,400,400i,700,700i" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'shared/zendesk' %>
    <%= render 'shared/google_head' %>

    <%= render 'shared/facebook' %>

  </head>

  <body>
      <%= render 'shared/google_body' %>
      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    
      <%= render 'shared/script' %>
      <%= render 'shared/ga' %>
  </body>
</html>
